[2017-03-06 08:02] roelvanhintum commented on #3
craftcms/cms seems the place to be for issues... https://github.com/craftcms/cms/issues/1460

[2017-03-08 07:23] leevigraham opened #7 "Create section dedicated to the CP UI"
As a plugin developer I want to make sure my plugins match Crafts UI as closely as possible.

To make this a better UX it would be great if the docs included a UI style guide section which described markup and classes. Currently I'm reverse engineering components by looking at the twig source templates.

I fear that with craft3 and the plugin store everyone will start using custom UI's and we'll e

[2017-03-10 18:09] brandonkelly opened #8 "Not clear how to set up edit-element routes"
This documentation could do a lot more to explain how to set up the routes – or at least link to a page that explains it.

https://github.com/craftcms/docs/blob/master/en/element-types.md#edit-page

[2017-03-14 17:00] carlcs opened #9 "Macro import details in Twig 2"
This breaking change is probably worth mentioning in the Twig 2 section:

http://twig.sensiolabs.org/doc/1.x/deprecated.html

[2017-04-06 21:28] narration-sd opened #11 "probs on two aspects of Twig getUrlFormat"
- In converting a Craft 2 site, I got a stack trace on section.getUrlFormat(), which doesn't any longer exist. There isn't any upgrade doc apparent about replacing this, which from source looks likely to need to involve both getSiteSettings and Sites. It didn't just fall out how to do it.

- Not having the time at the moment to debug the Twig, I'm instead going to just replace the area with a bett

[2017-04-06 22:08] narration-sd opened #12 "Getting phpdotenv also into Craft 2 -> Craft 3 upgrades, plus hopeful adds"
Doc is missing in the section for these conversions,, but it's easy to provide, thus allowing all Craft 3 sites to take advantage of the better security possible, and be consistent when addressed in future.

Think what would be useful in the initial  Updating Craft CMS section of upgrade.md  is:

- insert an step after 4) and similar to it, with this instruction. At present it will result in a tag

[2017-04-09 21:00] narration-sd commented on #12
Added note: it's likely quite  useful to add to primary doc how the file and url paths need to be set, especially with regard to Sites  -- or even primary Site.

Points to be expressed -- I know we've hit some of these before, but to draw together:

- you need to have a full filesystem path for File System path -- example /home/vagrant/yoursite etc.
- you need to have a non-relative url path for B

[2017-05-01 23:29] brandonkelly commented on #16
Yep, thanks for catching that!

[2017-05-02 16:21] brandonkelly commented on #17
Duplicate of #1681

[2017-05-02 17:13] brandonkelly commented on #18
Sorry, not following. What isn’t clear about it?

[2017-05-02 17:29] benblub commented on #18
[code]

tomdesmet [5:08 PM]
@benblub2 https://craftcms.stackexchange.com/questions/19779/use-of-localeenabled-bug-or-misunderstanding

[5:09]
See this thread. The docs aren't clear on that.
[code]

[2017-05-02 19:49] brandonkelly commented on #19
Yep already covered by https://github.com/craftcms/cms/issues/1681. We are getting out a fix soon.

[2017-05-02 20:41] brandonkelly commented on #17
Beta 14 was just released with a fix.

[2017-06-05 17:34] renzoolguin commented on #20
Wrong repo. Closing this.

[2017-06-16 15:10] takobell commented on #22
Fixed in https://github.com/craftcms/docs/commit/27e3e1a1085befe89511b4f4466e61c9a2261d00

[2017-06-23 00:07] jasondonnette commented on #23
Sorry – I realized I was in the wrong repo!

[2017-08-07 13:09] takobell commented on #25
Thanks!

[2017-08-14 23:51] brandonkelly commented on #26
Well `getCpNavItem()` works pretty much the same as it did in Craft 2 – which is the better option for most plugins. But if a plugin wanted to actually make modifications to the nav (which the `modifyCpNav` hook was for in Craft 2), the `EVENT_REGISTER_CP_NAV_ITEMS` event is the way to do it.

[2017-08-15 00:01] brandonkelly commented on #27
Use the new `EVENT_INIT` event on the `CraftVariable` class to be notified when it is instantiated, and then you can register your “Variable” class using its `set()` method. The example [in the docs](https://github.com/craftcms/docs/blob/master/en/updating-plugins.md#template-variables) outlines how you’d do that.

[2017-08-30 11:42] kethmars opened #28 "Creating too many Block Types in Matrix Fields results in 1118 Row size too large"
***Hey guys!***

Thank you for creating such an awesome CMS. Truly wonderful to build stuff with it, but as always, sometimes some external advice is needed :slightly_smiling_face: .

***Summary:*** We are building a site where we take advantage of the matrix field. The problem is that we need to create loads of columns into _Matrix table_ and some of those columns’ fields may contain very long _J

[2017-08-30 17:38] pandt-aws commented on #28
Going to close this as it isn't documentation related (this is the Craft 3 docs repo). But this is probably a better question for the Craft Stack Exchange site anyway: https://craftcms.stackexchange.com. Can you post there are clarify if you're using Craft 2 or Craft 3?

[2017-08-30 17:39] takobell commented on #28
Going to close this as it isn't documentation related (this is the Craft 3 docs repo). But this is probably a better question for the Craft Stack Exchange site anyway https://craftcms.stackexchange.com.  Can you post this there are clarify if you're using Craft 2 or Craft 3?

[2017-08-30 17:39] #28 closed

[2017-09-17 14:31] brandonkelly commented on #30
Done and done!

[2017-09-18 06:11] putyourlightson commented on #30
Thanks!

[2017-09-25 04:05] khalwat commented on #26
Found this via Google... because the old method of just setting a `subnav` variable in your plugin's templates doesn't seem to work anymore for adding subnav sections in a plugins CP nav.

I assume the correct way to do it would be to override `getCpNavItem()` in my plugin?

`cp.html` just iterates through `craft.cp.nav`:

[code]
...which is propagated via `cp.php` which just calls that plugin met

[2017-09-28 21:19] brandonkelly commented on #31
They should both work, but registering it for `Element::class` will register the action for every element type, not just entries.

If `Entry::class` is still not working for you, feel free to send your plugin over to support@craftcms.com and we can take a look at it.

[2017-09-29 05:43] brandonkelly commented on #26
Looks like `cp.html` is still checking the `selectedSubnavItem` variable.

[2017-09-29 05:50] khalwat commented on #26
Yes, it is. But it's not checking `subnav` -- which it used to check in Craft 2.x

[2017-09-29 05:56] brandonkelly commented on #26
K, will look into it.

[2017-09-29 05:58] khalwat commented on #26
I ended up just doing this instead:

[code]

...which works fine. It just isn't documented anywhere (that I'm aware of), and it might trip up some people who are expecting it to work as it did in 2.x.

I actually prefer it this way, at least some some extent.

[2017-09-29 11:44] brandonkelly commented on #26
Ah gotcha… thought you were saying that there was a bug with `selectedSubnavItem`. Right, `cp.html` doesn’t care about a `subnav` variable anymore. Just [documented](https://github.com/craftcms/docs/blob/master/en/cp-section.md#giving-your-plugin-section-a-subnav) how to add subnavs so it’s clear for the next poor soul.

[2017-09-30 17:32] brandonkelly commented on #32
Duplicate of craftcms/cms#2012

[2017-10-12 18:43] brandonkelly commented on #36
Thanks!

[2017-10-17 19:47] Totemika commented on #3
Same situation here. I want to code all the section and field creations for a more deterministic replication. The **UI is great for learning the possibilities** but now I want to code it and all I'm facing is errors. i.e: The example in this post [https://craftcms.com/news/craft-3-content-migrations](https://craftcms.com/news/craft-3-content-migrations) didn't work with a fresh Craft 3 installatio

[2017-10-18 06:15] roelvanhintum commented on #3
I've got some answers on https://craftcms.stackexchange.com/questions/19747/has-someone-figured-out-craft-3-content-migrations. The best suggestion so far is to look into Craft's controllers and reverse engineer everything. I started working on docs for the reversed engineered examples, but have not finished yet.

[2017-10-31 10:17] moabi opened #38 "Login is disabled"
Installing went well, but when I reach this page: http://craft3.dev/admin/login
the login button is disabled
In the console I get a 404 on the svg craft logo
I'm totally new to craft...
Thanks for your help

[2017-10-31 17:15] brandonkelly commented on #38
Are you getting any JavaScript errors in your console?

[2017-10-31 20:24] moabi commented on #38
not at all, only the login button with the class disabled
Anyway to provide an error log ?

[2017-10-31 20:34] brandonkelly commented on #38
Have you typed your password into the form yet?

[2017-10-31 21:01] moabi commented on #38
Yes of course, both username & password, and I tried on both chrome & Firefox

[2017-10-31 21:07] takobell commented on #38
Can you post a screenshot of your browser's console and network tab (including all requests) by chance?

[2017-11-02 09:50] moabi commented on #38
Ok, got it (yesterday was off, sorry for the delay), I set up a 4 char passwords with the cli, and it's not accepted on the gui, I guess I'll need to reset it

[2017-11-02 22:22] brandonkelly commented on #38
Huh, interesting, which CLI action did you set it with? `install`?

[2017-11-02 23:12] moabi commented on #38
Yes exactly

[2017-11-02 23:49] brandonkelly commented on #38
Yep, able to reproduce, apparently we’re not validating the password length there. Will fix…

[2017-11-02 23:59] #38 closed

[2017-11-08 18:57] brandonkelly commented on #40
Signal 11! 😱

Can you check to see if you have any log files in `storage/logs/` ? if so, can you paste the contents in here?

[2017-11-08 19:09] chadwilken commented on #40
@brandonkelly thanks for the quick reply. Unfortunately, there aren't any logs. Is there a way to run this in verbose mode?

[2017-11-08 19:11] chadwilken commented on #40
Well if I run composer with the -v option I get:
[code]

[2017-11-08 20:02] takobell commented on #40
Maybe a bug in the version of PHP you're running? https://github.com/symfony/symfony/issues/20988

https://bugs.php.net/bug.php?id=73989

[2017-11-08 21:22] brandonkelly commented on #40
A couple other people are seeing this with Beta 31. Looking into it…

For the meantime, you can grab Beta 30 like this:

[code]

Then re-run the setup stuff by running:

[code]

[2017-11-08 21:40] c4milo commented on #40
@brandonkelly apologies for my ignorance, I'm new to PHP. When I try to pin the version, I get this error:

![](https://cldup.com/tMNtP2SawF.png)

[2017-11-08 22:19] brandonkelly commented on #40
@c4milo Give us a few, we’ve been able to reproduce the issue and are fixing it…

[2017-11-08 22:27] brandonkelly commented on #40
Alright. Beta 32 is out with a fix for that segfault error. Since this is a fresh Craft3 project, maybe just delete your project folder and re-install.

Sorry for the inconvenience!

[2017-11-08 22:30] c4milo commented on #40
Thanks for the extremely quick fix @brandonkelly!

[2017-11-08 22:57] chadwilken commented on #40
That did the trick, cheers!

[2017-11-24 18:45] marionnewlevant opened #43 "Dead link to updating.md"
**Upgrading & Updating Craft** section has link _Updating Craft 3_ which points to nonexistant https://github.com/craftcms/docs/blob/master/en/updating.md

[2017-11-24 18:52] RosanaRuFer commented on #43
I think it's just not yet documented, we could just remove the link markup.

[2017-11-25 15:14] brandonkelly commented on #43
Fixed by #44

[2017-11-25 15:14] #43 closed

[2017-11-30 08:44] iliaivanov opened #45 "Incorrect links on the Field Layouts block"
Just a minor issue with one link on the fields page: https://github.com/craftcms/docs/blob/master/en/fields.md#field-layouts

`Categories use the field layout defined by their Category Group in Settings → Categories → [Category Group name] → Field Layout.` - Categories link is pointing to the `https://github.com/craftcms/docs/blob/master/en/categories` but missing _.md_ at the end.

The same thing

[2017-11-30 12:32] #45 closed

[2017-11-30 12:33] brandonkelly commented on #45
Thanks for pointing that out!

[2017-12-02 22:53] takobell commented on #47
That error indicates that your PHP version isn't 7+, which Craft 3 requires. https://github.com/craftcms/docs/blob/master/en/requirements.md#server-requirements-1

[2017-12-07 11:06] ChrisButterworth opened #49 "Migrate structure and settings without content"
Content migrations are brilliant if not a little confusing but wondered if there is a way to migrate settings and structure without migrating all the content.

This would massively help when there are dev, staging and production environments running and structures need to be migrated between them when its a larger project with multiple phases.

[2017-12-08 17:25] ow opened #50 "Best places to start for plugin rewrite?"
Hey!

So I run a small SaaS app on top of Craft, and I'd like to begin migration to Craft 3, particularly because the Craft Charge plugin seems near abandoned and I'm about to embark on building my own Stripe integration instead so it seems like wasted effort to build it on Craft 2 right now.

I'm just a little stuck on where to start. I've navigated the waters of figuring out how to get a private

[2017-12-08 18:40] Totemika commented on #50
1. Get your plugin scaffold using pluginfactory.io
2. Place the plugin under your craft-project/_plugins/ow
3. Let your craft-project/composer.json know where your plugin is by adding:
[code]
4. run `composer require ow/pluginname`

And now you'll see your plugin in the dashboard

Hangout: [https://www.youtube.com/watch?v=twQY7GbpYGg](https://www.youtube.com/watch?v=twQY7GbpYGg)

Docs: [https://gi

[2017-12-08 18:45] brandonkelly commented on #49
Content migrations are really just PHP scripts that you can do whatever you want from. So yes, possible to migrate just structure-y things without content.

[2017-12-08 18:45] #49 closed

[2017-12-08 18:55] ChrisButterworth commented on #49
Any guidance on how?? With the incomplete docs it makes it a bit more difficult.

[2017-12-08 19:08] brandonkelly commented on #49
Yeah sorry realize the docs are lacking right now. You pretty much need to learn plugin development to get anything done with content migrations right now. We plan on making it easier (and providing documentation) down the road.

You can see some examples here: https://github.com/pixelandtonic/craftcom/tree/develop/migrations (albeit these are for building  application-specific DB schema, more tha

[2018-01-08 14:53] brandonkelly commented on #56
@chrissam42 Can you provide details about the environment (OS & version, PHP version)?

(FFR this should have been posted to the [craftcms/cms](https://github.com/craftcms/cms) repo.)

[2018-01-08 17:37] chrissam42 commented on #56
Oh sorry, I can repost there with more details if you like.

[2018-01-08 17:49] chrissam42 commented on #56
On trying to replicate this with a new test install, it is working fine, so I must have been asleep at the switch yesterday. Sorry to bother you.

[2018-01-08 17:55] brandonkelly commented on #56
hah, no worries!

[2018-01-15 15:58] brandonkelly commented on #9
The [Macros](https://github.com/craftcms/docs/blob/master/en/changes-in-craft-3.md#macros) section has been in the upgrade since the beginning.

[2018-01-15 19:17] carlcs commented on #9
Hm… macros is mentioned, but all that section mentiones it the one change in Twig 2 about “calling macros defined by the same template”. I don’t think Ryan’s note is redundant.

[2018-01-15 21:23] #9 closed

[2018-01-15 21:24] brandonkelly commented on #9
Ah I think I misunderstood the scope of the deprecation error (I didn’t realize that Twig 1 made macros from parent templates available automatically).

Just tweaked the Macros section a bit to include both cases.

[2018-01-16 18:20] ncc-jwood opened #58 "Localization Documentation"
I notice the documentation for sites/localisation still isn't in place.  Do you have an estimate on when it will be available?

[2018-01-16 20:12] brandonkelly commented on #58
Soon!

[2018-01-16 20:12] #58 closed

[2018-01-19 16:31] brandonkelly commented on #60
The second one. You should still update your templates ASAP, but we wanted to make Craft 2 sites _loadable_ in Craft 3 with as little effort as possible. It’s more fun fixing deprecation errors on a working site than fixing endless breaking errors and not being sure when you’ll fix the one that gets your page to finally load.

[2018-01-22 06:55] brandonkelly commented on #61
Here you go: https://github.com/craftcms/docs/blob/master/en/configuration.md#aliases

[2018-01-25 18:33] pierreluckffein opened #63 "Dashboard Twig Runtime Error – Twig_Error_Runtime"
It seems that I am able to create a field called "author" and saving an entry with this field creates an error on the dashboard for the recent entry tabs. it's trying to access the author object, but it gets the custom author field.

`{%- if CraftEdition >= CraftClient and entry. author %}, {{ entry.author.username}} {% endif -%}` line 10 in vendor/craftcms/cms/src/templates/_components/widgets/Re

[2018-01-25 19:16] brandonkelly commented on #63
A field called `author` would work totally fine on anything besides entries, and there are legitimate use cases where it would be desired (e.g. storing the author of photos in an asset volume).

That said, we do want to improve this down the road with craftcms/cms#1524.

(FFR please post Craft CMS issues to the [craftcms/cms](https://github.com/craftcms/cms) repo – thanks!)

[2018-01-25 19:16] #63 closed

[2018-01-29 18:20] brandonkelly commented on #64
Similar issue here: https://github.com/composer/composer/issues/1815 - try reading through the solutions in the comments.

[2018-01-29 18:40] speder commented on #64
Thanks Brandon, it was indeed oom-related and easily solved by adding some swap memory.

[2018-02-01 13:23] John-doe-lee commented on #64
`localhost:~/drupal# cat /etc/os-release
NAME="Alpine Linux"
ID=alpine
VERSION_ID=3.7.0
PRETTY_NAME="Alpine Linux v3.7"
HOME_URL="http://alpinelinux.org"
BUG_REPORT_URL="http://bugs.alpinelinux.org"`

`localhost:~/drupal# composer update
Loading composer repositories with package information
Updating dependencies (including require-dev)
Killed
`
how to solve it?

[2018-02-01 13:37] speder commented on #64
@John-doe-lee Adding swap memory fixed it for me, as shown, eg [here](https://github.com/composer/composer/issues/1815#issuecomment-244376380)

[2018-02-06 15:41] magnessjo commented on #61
The URL posted is missing the version number.  If you are looking for this information in the future, you can just walk into the main project :  https://github.com/craftcms/docs.

For today: the link is (note the v3):
  https://github.com/craftcms/docs/blob/v3/en/configuration.md#aliases

[2018-02-06 17:43] brandonkelly commented on #61
@magnessjo thanks! updated the original URL too.

[2018-02-10 20:29] bertoost commented on #26
It's not up to date anymore I guess? Seems like `getCpNavItem()` isn't used anymore

[2018-02-12 00:06] khalwat commented on #26
@bertoost It's used in plugins still. I'd imagine a module would need to listen to some event.

[2018-02-19 13:28] sebastian-lenz commented on #68
Yes, there seems to be a problem with current dependencies. Luckily the problem causer is not a direct dependency of Craft but rather a security add-on the default project comes packaged with. You can bypass the problem for now by removing the `roave/security-advisories` dependency, Craft runs perfectly without it. You may add it later back once the version hurdle is resolved.

After the installat

[2018-02-19 19:36] narration-sd commented on #68
Yes, removing the roave/security-advisories line will allow you to run composer successfully, which may be particularly important if you are doing plugin/module etc. development. To do that most safely,
[code]

But you need to be *very* *sure*  to assure it's put it back in as soon as Craft can assess and integrate  the new Yii release. The reason is just what you see: it protects you against inst

[2018-02-19 19:42] narration-sd commented on #68
And by the above link to https://github.com/craftcms/cms/pull/2454, Craft is indeed as  you would expect, on the case...

[2018-02-19 20:38] khalwat commented on #68
Well, P&T removed it entirely from what you get if you do a `composer project-create craftcms/craft` -> https://github.com/craftcms/craft/commit/641aebbe563b24e60afb1c307bbf9e67e166c03b

I’m thinking they probably had a good reason for doing that?

[2018-02-19 20:57] narration-sd commented on #68
possibly because it may be more trouble than worth to them in a rapid develop-update project, at least while we're still in beta-RC phases? Thus as here, a lot of customer frustration/service contact.

In fact I wonder just what roave has 'saved' here -- if I'm correct, the actual problem Yii release is the one currently in the available Craft, and won't be fixed until the RC11 release tomorrow, w

[2018-02-19 21:23] brandonkelly commented on #68
Yeah decided it’s more trouble that it’s worth as a default project dependency. We will just recommend that you add it manually if you want, in an updated Securing Craft article once 3.0.0 is out. That way people will (hopefully) recognize the package name as the one they added themselves, and know to remove it if it’s causing problems.

[2018-02-19 21:33] narration-sd commented on #68
Sounds good, very sensible @brandonkelly

[2018-02-21 19:24] cavellblood opened #70 "`descendantOf` order of entries is reversed."
I'm using RC11. I have structure entries that look like the following:

- CSA
  - CSA FAQs
  - Seasons
  - Drop Points

I'm using the following code to loop through the child elements of the parent entry that has been set to the variable `entryParent`:

[code]

The output displays the entries in reverse order:

[code]

If I change the query to get all the entries in the structure section it lists

[2018-02-22 00:12] #70 closed

[2018-02-22 01:26] cavellblood commented on #70
Thanks. I'll post there next time.

[2018-02-26 21:03] brandonkelly commented on #72
Forgoing an alias and just using a root-relative path would also work here – only exception being if the URL needs to be shared (e.g. sent in an email).

[2018-02-26 21:04] brandonkelly commented on #72
Can you post this to https://github.com/craftcms/cms/issues ?

[2018-02-26 23:21] timkelty commented on #72
Derp - didn't know where I was, sorry :)

[2018-03-16 18:15] brandonkelly commented on #81
Thanks for the reminder!

[2018-03-17 22:36] j-greig commented on #3
Any update on documentation for this? Looking at https://craftcms.stackexchange.com/questions/19747/has-someone-figured-out-craft-3-content-migrations it feels like some people smarter than me have figured it out... but I'm still a bit stuck!

[2018-03-18 11:21] brandonkelly commented on #3
Sorry it’s taking forever. For the most part we’re just super busy getting all the critical stuff ready for the Craft 3 GA on 4/4. But to be honest. another thing is that Content Migrations is not really worthy of its name yet. In its current form it’s not well-suited for updating actual content-related things; all it’s really _great_ at right now is making schema-related changes – which is only h

[2018-03-18 11:28] j-greig commented on #3
Thanks for the update @brandonkelly, appreciate you have a ton on at the moment.

Also I realised that I can use the Architect plugin in the meantime (would be neat if you could script this via the command line!)

[2018-03-21 02:23] flycast opened #85 "Set storage (and any other) to writeable on windows"
New installation on local Windows 10 machine. When I try to run the initial install I get the following error:

I have determined a list of all users on this PC and given them write access to all files in my craft installation and still the same result. On a windows install how to get Craft to see the folders as writable?

[2018-03-21 16:35] carlcs opened #86 "Advanced routing in routing.md is not yet updated for Craft 3"

[2018-03-21 19:02] angrybrad commented on #85
Are you using IIS for your web server?  If so, you need to assign whatever user the AppPool associated with your site is running as write permissions to the storage folder.

[2018-03-21 21:11] flycast commented on #85
No. I am using Ampps stack. Apache.
I set every (all) users that are on that computer to be able to have full control over all files in the top level Craft foilder.

[2018-03-21 23:52] flycast commented on #85
Ok....I am such a dumb a** sometimes! I was working on the wrong folder. I changed the folder spec in my index.html file to point to the craft installation folder and now all is well. The actual problem was my path did not exist (as the message said).

[2018-03-21 23:52] #85 closed

[2018-03-21 23:54] angrybrad commented on #85
Hah... no worries, @flycast. Glad you're all sorted.

[2018-03-23 18:03] #86 closed

[2018-03-23 18:03] brandonkelly commented on #86
Thanks for the heads up!

[2018-04-04 10:29] boboldehampsink opened #94 "Use other session handler"
There is no documentation on how to use a different session handler then `yii\web\Session`. Here's an example of how to use both the session handler and cache of `yiisoft/yii2-redis` with Craft 3:

[code]

[2018-04-06 11:42] carlcs opened #100 "Client/Pro --> Pro"
Technically doesn’t belong here, but there are some left over references to the Client edition in support articles on craftcms.com

https://craftcms.com/support/try-craft-client-pro
https://craftcms.com/support/license-transferring
(there are probably more…)

[2018-04-06 12:56] carlcs opened #101 "Document Element Queries param syntax"
A sentence about “custom field” parameters could be useful in en/element-queries.md. And also a little general documentation on `Db::parseParam()`
- how to combine conditions with 'and'
- operators like 'not ', or '>'
- the ':empty:' keyword
- how to trigger LIKE conditions using asterisks

[2018-04-09 18:17] bensomething opened #104 "FR: Some design love (plus a small mobile issue)"
I can only imagine how busy the team's been leading up to the release of 3, and I have no doubt you've already got plans to spend some more time on the docs, but I got bored and wanted to see how they'd look if they adopted the control panel's visual styling. I threw something together super quickly and thought I'd share: https://craftdocs.netlify.com

While some of the **Plugin Development** page

[2018-04-10 19:38] dikaio opened #105 "Disqus Link Produces 404"
The Disqus link here https://docs.craftcms.com/v3/templating/examples/integrating-diqus.html in the docs currently goes to a 404.

[2018-04-10 21:49] angrybrad commented on #105
thanks... fixed!

[2018-04-10 21:49] #105 closed

[2018-04-11 14:33] theskyfloor opened #13 "Update docs to walk through creation of sections"
The docs for 3 are lacking in specific instructions and examples around creating new sections. For me it is mostly fine but for a new user it would be super confusing. Should step through each part in the process with screenshots.

[2018-04-11 14:33] theskyfloor opened #106 "Update docs to walk through creation of sections"
The docs for 3 are lacking in specific instructions and examples around creating new sections. For me it is mostly fine but for a new user it would be super confusing. Should step through each part in the process with screenshots.

[2018-04-11 14:35] theskyfloor opened #107 "Add nested URI example to section creation docs"
The docs should give a simple example of the best syntax to achieve nested URIs for structures (a bonus would be adding it to the instructions right inside of the edit page in the backend).

[2018-04-13 01:53] evanwarner opened #109 "2.x Rich Text settings link inaccurate"
Imperavi has updated their site to show documentation for Redactor 3.x, which renders the link to their settings on the [Craft 2.x Rich Text field page](https://docs.craftcms.com/v2/rich-text-fields.html) inaccurate.

I cannot find the Redactor 2.x documentation anywhere.

[2018-04-13 03:51] wooge opened #110 "Plugin Store: Page Not Found"
There is a possible bug with the store. To produce it, go to the file:

And the setting:

If it is set to "false", the Plugin Store fails to load. Switching it to **true** fixes this.

[2018-04-13 20:47] brandonkelly commented on #110
Thanks for reporting! We'll get this fixed.

FFR, please post Craft issues at https://github.com/craftcms/cms/issues :)

[2018-04-13 20:50] wooge commented on #110
Crud — apologies, don't know how I ended up in the /docs section. My bad.  Will do!

[2018-04-17 08:44] benjamindavid commented on #110
@wooge it probably happens because you are only reloading the page after changing the `omitScriptNameInUrls` config. Try to click on the Plugin Store link instead of reloading the page so that the new config can properly be taken into account.

[2018-04-17 08:44] #110 closed

[2018-04-18 00:02] #101 closed

[2018-04-18 00:04] brandonkelly commented on #103
Thanks for pointing that out!

[2018-04-18 00:06] brandonkelly commented on #104
Thanks for taking the time to do that!

We do plan on improving the styling and functionality of the docs; we’ll keep this in mind :)

cc @benjamindavid @samhernandez

[2018-04-18 03:33] wooge commented on #110
@benjamindavid — I just logged into my install, set omitScriptNameInUrls to false, clicked on the plugin store, and got a Page Not Found error again. But a clean install of craft 3.0.3 doesn't exhibit the same issue. Must be something wrong with my particular install. Wish there was a want to re-download all of core without wiping the site.

[2018-04-18 03:45] brandonkelly commented on #110
Nuke your `vendor/` folder and run `composer install` :)

[2018-04-18 04:13] wooge commented on #110
Done. Problem still persists (on only this install of Craft), so no worries — I'll  just leave the config setting to true and it all works. Thank you!!

[2018-04-19 16:51] samhernandez commented on #100
Thanks for letting us know. These are patched up, and we're combing through the remaining articles.

[2018-04-19 16:51] #100 closed

[2018-04-19 19:42] magnessjo opened #112 "Register Element Sources Event Tweak"
In the [example](https://github.com/craftcms/docs/blob/v3/en/updating-plugins.md#modifyentrysources-modifycategorysources-modifyassetsources--modifyusersources)

The new syntax appears to be wrong (or I was/am very confused).  It took me a while to get it to work correctly so I wanted to make sure the documents are correct so others aren't confused as well.

For me, I had to merge in an array for

[2018-04-19 23:06] #112 closed

[2018-04-19 23:06] brandonkelly commented on #112
Yep you’re right, thanks for pointing that out! And sorry for the confusion.

[2018-04-25 12:11] carlcs opened #14 "Intro to using services via `craft.app` in templates"
It’s currently hard to find info about very common API methods, things like
[code]
I know it’s not practicable to duplicate all docs from the Class Reference into documentation articles, but I think there should be something in the Craft 3 Documentation to guide new Craft users. Maybe it would already help to have an intro article in the “Templating” section, with links pointing to the Class Refer

[2018-04-25 12:11] carlcs opened #113 "Intro to using services via `craft.app` in templates"
It’s currently hard to find info about very common API methods, things like
[code]
I know it’s not practicable to duplicate all docs from the Class Reference into documentation articles, but I think there should be something in the Craft 3 Documentation to guide new Craft users. Maybe it would already help to have an intro article in the “Templating” section, with links pointing to the Class Refer

[2018-04-25 18:01] brandonkelly commented on #14
Just added a quick note about it on the [Global Variables](https://docs.craftcms.com/v3/templating/global-variables.html#craft-app) page.

As far as `craft.app` examples go, the plan is that we will start adding Twig examples to the service methods, and style the class reference more like API documentation (like https://docs.api.craftcms.com/), where code examples are displayed off to the right, a

[2018-04-25 18:04] brandonkelly commented on #114
@samhernandez any chance we can combine the Algolia search results for Craft 3 Documentation + Craft 3 Class Reference? (And ditto for Craft 2 Documentation + Craft 2 Class Reference?)

[2018-04-25 19:55] brandonkelly commented on #114
Just talked this over internally and decided against combining the search results across documentation “zones”, as in general it will probably add more noise than it’s worth.

Instead we’ll start going through the docs and create links to the class reference where appropriate, like in that Template Functions section.

[2018-04-25 21:08] narration-sd commented on #14
that sounds a really good idea, especially as it will mean more useful documentation, as notes from both coding methods will be merged...also less work...

[2018-04-26 16:43] ryanirelan commented on #96
After talking to Brad, I'm amending this to request that the hidden files in the manual install option are named without the leading dot and the installation instructions are updated to include a section on renaming `env`, `env-example`, and `gitignore` to `.env`, `.env-example` and `.gitignore`.

[2018-04-26 16:56] brandonkelly commented on #96
Forgot to update this issue, but I did just make a bunch of changes to the [installation instructions](https://docs.craftcms.com/v3/installation.html), including this:

Considering how many hidden files there are, I _think_ I’d rather just encourage people to unzip the archive directly in the place they want it to live, and keep that warning in there, then make everyone have to start adding the `.

[2018-04-28 00:56] dreamseeker opened #115 "Update some documents with new Craft 3 licence"
Craft Client is not available, so remove Client’s Account section in users.md.

- https://github.com/craftcms/docs/blob/v3/en/users.md

Following documents has `Craft Personal` or `Craft Client or Craft Pro` strings.

- https://github.com/craftcms/docs/blob/v3/en/sections-and-entries.md
- https://github.com/craftcms/docs/blob/v3/en/users.md

[2018-04-28 11:43] brandonkelly commented on #115
Whoops, looks like we updated the v2 docs (8eca40b3b900ac7f20af6e128b5e615f44305666) but forgot to update the v3 docs. Thanks for the reminder!

[2018-04-28 11:44] #115 closed

[2018-05-03 10:25] brandonkelly commented on #117
If you need additional help, feel free to reach us at support@craftcms.com and we can help you sort this out privately :)

[2018-05-22 21:11] brandonkelly commented on #123
`selected` will only be set in the context of an actual entry value, whereas you are looping through the options on the field’s settings. (Notice how all the examples on https://docs.craftcms.com/v3/checkboxes-fields.html access the field’s value via `entry.checkboxFieldHandle`.)

Does that help clarify?

[2018-05-23 06:58] skoften commented on #123
Hi Brandon,

I am still a little bit confused, sorry.

I am trying to create multiple checkboxes for users, which they can update in their profile. In this case so they can apply to different email subscriptions.

So I created a field, type checkbox, added multiple rows. But I can't find any way to read and update them on the **front end**. The weird part is, the same checkboxes work fine from wit

[2018-05-23 17:13] brandonkelly commented on #123
OK so this is for users, not entries, but still, you should be going through the _user_ to get the checkbox options; not getting the field itself via `craft.app.fields`.

[code]

[2018-05-26 03:50] mlathrom opened #124 "Extra back arrow on Twig Primer link on Cache page"
On the back button that leads to the Twig Primer on the Cache page, there's an extra back arrow.

<img width="160" alt="twig-primer-arrow" src="https://user-images.githubusercontent.com/373889/40572297-1cf49b38-605d-11e8-87b7-c9497c79772c.png">

[2018-06-09 01:04] brandonkelly commented on #129
Fixed now, thanks!

[2018-06-27 19:20] mimamuh opened #15 "Write a step by step tutorial how to build a plugin"
Hi,

I just tried to write my first plugin for craft3 but found it quite hard to bring all peaces together. Before I write a plugin I have to get pieces from three different places right now:
- Yii docs
- Craft 3 Class Reference
- Craft 3 docs und somehow also Craft 2 Docs as the 3 docs don't look complete

But there is still a example missing, how everything works together. I remember how I got i

[2018-06-27 19:20] MiMaMuh opened #141 "Write a step by step tutorial how to build a plugin"
Hi,

I just tried to write my first plugin for craft3 but found it quite hard to bring all peaces together. Before I write a plugin I have to get pieces from three different places right now:
- Yii docs
- Craft 3 Class Reference
- Craft 3 docs und somehow also Craft 2 Docs as the 3 docs don't look complete

But there is still a example missing, how everything works together. I remember how I got i

[2018-06-29 10:36] Tam opened #144 "Auto-focus the search input"
Whenever I visit the docs there's a good chance I just want to quickly search for something. Having the search input auto-focus would be a great quality of life enhancement!

[2018-06-29 13:43] brandonkelly commented on #144
Posted this as a VuePress feature request: https://github.com/vuejs/vuepress/issues/624

[2018-06-29 13:43] #144 closed

[2018-07-04 07:13] carlcs commented on #14
Copy from a discussion on Slack:

[2018-07-04 16:50] carlcs commented on #114
I’m revisiting this issue because I’m not sure if you misunderstood what it was about, or if it’s rather my lack of understanding of how you’re pushing data to Algolia. From what I can see “getSegment” is included in this Markdown file https://github.com/craftcms/docs/blob/v3/docs/changes-in-craft-3.md

[2018-07-04 23:49] brandonkelly commented on #114
Ahh sorry, I misenderstood the issue. @samhernandez maybe worth asking Algolia about that?

[2018-07-04 23:52] brandonkelly commented on #14
Fair point.

[2018-07-05 14:08] samhernandez commented on #114
Looks like our [DocSearch config](https://github.com/algolia/docsearch-configs/blob/master/configs/craftcms.json#L42) only indexes text in headings, `<p>`, and `<li>` tags. Makes sense to not dilute indexed search words with table data, except in this case. I'll submit a PR

[2018-07-05 14:51] samhernandez commented on #114
Here's that PR: https://github.com/algolia/docsearch-configs/pull/484

[2018-07-12 09:58] rungta opened #147 "Installation instructions do not mention that the web/cpresources folder should be writeable"
[Step 2][2] of the Craft 3 installation instructions provide a list of paths that must be writeable by PHP. The `web/cpresources` folder is missing from this list.

[2]:https://docs.craftcms.com/v3/installation.html#step-2-set-the-file-permissions

[2018-07-12 12:14] #147 closed

[2018-07-12 12:14] brandonkelly commented on #147
Thanks for pointing that out!

[2018-07-12 22:13] bphippen opened #148 "Favicon to the docs"
Maybe small differences in color or something to differentiate between v2 and v3.

[2018-07-13 06:18] j-greig commented on #149
![image](https://user-images.githubusercontent.com/616194/42675637-e2dc5478-866c-11e8-96a9-4e4e7bf0a017.png)

I guess what I'm suggesting is the addition of a 'Plugins' section higher up the sidebar :)

[2018-07-13 13:17] brandonkelly commented on #149
Good point, I’ll add a page about it.

[2018-07-13 14:13] brandonkelly commented on #148
Done, thanks for the reminder!

[2018-07-23 05:49] astronauta88 opened #152 "docs for entry fields page refear to v2"
I belive docs in this page refears to craft cms v2 instead v3
https://docs.craftcms.com/v3/entries-fields.html

Also, for some reason no page gets selected in orange color on side menu when this page of docs is opened.

[2018-07-23 19:42] #152 closed

[2018-07-23 19:43] brandonkelly commented on #152
Thanks for pointing that out!

Yeah currently those pages aren’t part of a nav. On my list to fix that.

[2018-07-24 16:07] carlcs opened #154 "Add tip about aliases to Core Concepts - Assets"
https://docs.craftcms.com/v3/assets.html

[2018-07-24 21:32] brandonkelly commented on #154
Good call, just rewrote portions of that page to point out that aliases can be used.

[2018-07-25 11:33] carlcs commented on #154
You write wonderful documentation Brandon! Craft 3 docs have improved a lot since its launch. Thanks

[2018-07-25 16:50] brandonkelly commented on #154
Thank you!

[2018-07-31 18:44] timkelty commented on #94
Holy cow, yes - please add to docs!

Was fumbling around until I found this…@boboldehampsink where did you even find docs for the `as session` thing?! You are superhuman!

Also answers this: https://github.com/craftcms/docs/issues/94

[2018-07-31 18:46] timkelty commented on #94
If you want to run your queue also from redis:

[code]

[2018-07-31 20:52] brandonkelly commented on #94
Whoa I had no idea `as X` was a thing.

[2018-07-31 21:13] khalwat commented on #94
I've had an example up here for a bit too: https://github.com/nystudio107/craft/blob/master/config/app.php#L29

[2018-08-02 09:14] carlcs opened #155 "Mention predefined patterns in URL rules config"
https://docs.craftcms.com/v3/config/#url-rules should mention that you can use predefined patterns `{handle}` and `{slug}`.

[2018-08-02 17:12] #155 closed

[2018-08-02 18:00] carlcs commented on #155
Now that you updated it I noticed that there’s overlap with the Advanced Routing section in Concept Routing. https://docs.craftcms.com/v3/routing.html#advanced-routing

Probably the better place to document the predefined patterns, with a link to it from the config docs?

And another thing, is `'news/(\d{4})/(\d{2})' => 'news/_archive',` syntax still possible in 3?

[2018-08-03 06:49] boboldehampsink commented on #94
Haha guys, its actually just here in the docs: https://www.yiiframework.com/doc/guide/2.0/en/concept-behaviors#attaching-behaviors

@timkelty does that prevent the craft_tasks table from being created?
@khalwat that looks a bit overkill

[2018-08-03 10:52] timkelty commented on #94
@boboldehampsink I swear I looked and couldn't find it. :)
Way to read the manual!

Assuming you mean the `queue` table (Craft 3), yes, it prevents it from being used and uses Redis directly. (it will always be created from craft's installation process)

Only hang up is you'll miss out of the front-end progress indicator, until myself or someone writes something for redis that implements `QueueInt

[2018-08-03 10:54] boboldehampsink commented on #94
Ah cool. That doesn't really bother me as I always run tasks from the command line in a separate worker node.

[2018-08-03 10:55] timkelty commented on #94
Same. But the front-end indicator can be nice so you know when something in the background is running, or when something failed.

[2018-08-03 17:45] brandonkelly commented on #155
@carlcs Yeah, thanks for pointing that out. Just rewrote the Routing page (there was a lot of outdated info on it) and now the URL Rules section of the Config Overview page links to it.

[2018-08-05 13:09] XhmikosR commented on #158
Never mind, I just saw the are deprecated :)

[2018-08-05 13:48] brandonkelly commented on #158
Yep, they’re listed here: https://docs.craftcms.com/v3/changes-in-craft-3.html#template-tags

[2018-08-05 13:56] XhmikosR commented on #158
Yup, all good, and I can pass any attributes I need to, like integrity, crossorigin and async. 😃

[2018-08-05 14:58] XhmikosR commented on #158
@brandonkelly: is there any way to change the position of the CSS files which are registered with `{% do view.registerCssFile(url) %}`? I looked into Yii's docs and it doesn't seem possible.

Reason: I use craft-seomatic which renders its HTML head tags before the stylesheet's are rendered.

[2018-08-06 07:08] XhmikosR opened #159 "docs server tweaks"
Hi, there!

So, it seems that currently you don't have the following on the docs server:

1. gzip enabled
2. long Cache-Control headers; this needs to be tested before but it seems there's proper cache busting via vuepress

BTW, have you thought about using GitHub pages or even another solution like Netlify? With Netlify you should be able to have build links for each PR for example.

PS. I'm not

[2018-08-06 18:51] XhmikosR commented on #159
About the Cache-Control headers. Only exception would be the service worker file.

[2018-08-06 22:53] brandonkelly commented on #158
You can customize the place that it gets output by adding a `{{ head() }}` tag to your template.

https://docs.craftcms.com/v3/dev/functions.html#head

[2018-08-06 23:16] brandonkelly commented on #159
It’s on AWS because that’s where most everything else is. Build links for PRs would be cool, but you can also test changes locally easily by running `yarn docs:dev`.

[2018-08-07 05:28] XhmikosR commented on #159
Oh, and while at it, can you enable http/2?

I think these 2 changes are a good first step; only the cache headers are left but that's for another time.

[2018-08-07 14:14] XhmikosR commented on #159
Also, scratch the http/2 comment too; it's already enabled.

So, to sum this up:

1. enable gzip compression
2. maybe specify `charset=utf-8` for CSS, HTML and JS files. This can cause serious issues. Like https://docs.craftcms.com/v3/assets/js/206.b2ea0170.js see the garbled characters there `What itâ€™s For`.

[2018-08-07 14:15] XhmikosR commented on #159
If you deploy via cmd, we could add a buildspec file to handle the charset/mime types ourselves. I can provide a patch for that, just let me know.

[2018-08-16 21:30] brandonkelly commented on #173
@carlcs It should work with `select`, which is the actual parameter there; `addSelect()` is just a way to append additional columns to the `select` param.

In general you’re better off chain-setting params anyway though. We mainly only allow batch-setting params because in most cases it works fine, so supporting it is one less thing you have to do when upgrading a site from Craft 2 to 3.

[2018-08-16 21:33] brandonkelly commented on #174
There’s no reason going to `http://<Hostname>/index.php?p=admin` would only work when Dev Mode is enabled. Should make no difference.

[2018-08-16 22:02] carlcs commented on #173
Yeah, I opened this issue because I thought something like your statement above could be worth mentioning in the batch-setting parameters warning note.

[2018-08-17 00:10] sbossarte commented on #174
I may be misinterpreting how the [craft/web/Application](https://github.com/craftcms/cms/blob/develop/src/web/Application.php) component behaves, but after installing Craft through composer, via `composer create-project craftcms/craft` and attempting to go to `/admin` to run the install process, I would wind up with a Service Unavailable message. I could only get the install screen to appear on th

[2018-08-17 02:03] brandonkelly commented on #174
Doh, I forgot we changed this recently (b18a92c49f2546b429d5fdd4f8b7d88b18a4ce72). Just updated the installation instructions to direct users to go to `admin/install` instead.

[2018-08-27 13:15] paul-frost commented on #14
I've just been pointed to this after  getting help on Slack with segments.
I'd just like to re-iterate how the lack of real world examples in the documentation is making Craft 3 a really negative experience. I'm not a beginner but I'm also not a programmer. I keep hitting issues that I can't work out myself. I hate having to ask on SE or Slack how to do what seem such simple things. I search throu

[2018-08-27 14:31] brandonkelly commented on #14
@paul-frost Thanks, we’re working on it.

[2018-08-28 04:09] brandonkelly commented on #175
Yep you’re right. Thanks for pointing that out!

[2018-08-28 19:43] lazlo-bonin opened #16 "Add documentation and update notes for Models, Records and Controllers"
The Craft 2 plugin development documentation included information about Models, Records and Controllers which is no longer contained at all in the Craft 3 docs.

The current upgrade guide only mentions a very vague reference back to the Yii documentation for all of these concepts, without any specific instruction on how to port plugins that used them in Craft 2:

Considering the big changes (e.g.

[2018-08-28 22:17] lazlo-bonin opened #178 "Broken links to element controller examples"
The only available links to element controller and template examples are broken:

https://docs.craftcms.com/v3/extend/element-types.html#editing-elements

craft\controllers\actionPreviewCategory – renders a category’s front-end page for a Live Preview request
craft\controllers\actionSaveCategory – saves a category
craft\controllers\actionDeleteCategory – deletes a category
craft\controllers\action

[2018-08-29 08:43] brandonkelly commented on #16
Yep we should have some mention of these things. However in Craft 3 models and records work the same as in Yii, which wasn’t the case in Craft 2, so the Yii documentation is the best place to start.

[2018-08-29 09:53] #178 closed

[2018-08-29 09:56] brandonkelly commented on #178
Thanks for pointing that out!

[2018-09-03 10:53] carlcs opened #182 "Mention focal point in image transforms docs"
https://docs.craftcms.com/v3/image-transforms.html doesn’t mention that the default position for image transforms is the focal point set on the image.

[2018-09-04 15:18] angrybrad commented on #183
Sounds like a good feature request... would you mind posting it over on the CMS repo at https://github.com/craftcms/cms/issues instead of this docs repo?

[2018-09-05 03:28] mhunt opened #184 "Nav tag not closed properly on Categories Field Example"
Reference: https://docs.craftcms.com/v3/categories-fields.html

The second example under **Templating Examples** for the **Categories Field** closes with an `{% endfor %} ` statement. It should be replaced with an  `{% endnav %} ` statement as specified here: https://docs.craftcms.com/v3/dev/tags/nav.html#parameters

[2018-09-06 21:28] Yugloocamai commented on #94
This has no effect on my Craft system.  As if It completely ignore app.web.php.

[2018-09-11 21:27] carlcs commented on #101
Did this get lost in the latest Element Query docs rewrite? Can’t find it anymore and the search also doesn’t show results for `notempty`.

[2018-09-12 10:13] lukeholder opened #191 "Template hooks docs missing"
There doesn't seem to be any docs on using template hooks.

Would expect to see examples like below with explanation and a listing of hooks.

[code]

The only reference to template hooks in the docs is the upgrade guide mentioning the renaming of a couple of template hooks.

[2018-09-12 10:14] lukeholder commented on #191
Might also make sense to mention templates hooks as a concept next to this?:

https://docs.craftcms.com/v3/extend/updating-plugins.html#resource-requests

[2018-09-14 13:08] timkelty opened #17 "Best practices for avoiding frequent request/response console bugs"
A seemingly very common bug is for devs to rely on request/response props and methods that are available in a web app context, but not in a console one.

Especially with the queue, devs may not realize that their code needs to be able to run as web OR console.

So, one generally needs to sprinkle a bunch of `getIsConsoleRequest` conditionals around.

Is there a better solution here?

The bug is un

[2018-09-14 22:07] Anubarak commented on #17
Maybe it's a good idea to take a look at Pixel and Tonics easy and clever solution for this problem in their services, helpers, elements and so on.

They mostly don't use it.

There are only a few uses of the request component in their code because that's the "correct" design pattern of an MVC. The controller should handle the request and the controller knows what kind of request it is - because y

[2018-09-17 12:37] timkelty commented on #17
@Anubarak Yep, agreed with your points.
In my case I'm mostly fighting against this not in my own code, but in plugins I'm using.

So, I think whatever the solution is, I think something in the docs specifically advising devs would be ideal.

[2018-09-17 22:16] brandonkelly opened #194 "Warn developers about using Web-only Request methods"
See discussion at craftcms/cms#3302

[2018-09-19 18:58] mooreds opened #196 "Document that structures can't have more than one parent"
Per this stackoverflow question: https://craftcms.stackexchange.com/questions/27740/can-a-structure-have-multiple-parents a structure cannot have more than one parent.

We should add a note in the docs about that: https://github.com/craftcms/docs/blob/v3/docs/sections-and-entries.md

[2018-09-25 02:49] brandonkelly commented on #181
This is more of a VuePress issue, can you post at https://github.com/vuejs/vuepress/issues ?

[2018-09-25 04:29] brandonkelly commented on #184
Fixed now, thanks for reporting that!

[2018-09-25 04:29] brandonkelly commented on #182
Thanks for pointing that out! Fixed now.

[2018-09-27 00:49] oadslug opened #199 "Javascript error prevents navigation"
The Craft 3 Class Reference page has a javascript error that prevents the left column nav from working at all.

https://docs.craftcms.com/api/v3/?

[code]

Browser is Safari Version 10.1.2 (12603.3.8)
Haven't tried other browsers.

[2018-10-01 16:01] oadslug commented on #199
Thanks @narration-sd. I checked that as well — works fine in Chrome (haven't tested Firefox). Was reporting mainly as a curtesy.

[2018-10-01 20:18] narration-sd commented on #199
Hey Dooglas, a good move, and I was doing that too.

Meant to mention that since Quantum, Firefox has been definitely the most persnickety browser, at least in terms of the enormous lists of minor/non- issues it will mention, if these can be turned off also.

So it might be handy actually in tracking something down that's a little obscure.

[2018-10-12 17:13] mrudling opened #204 "Without trailing slash docs goes to AWS"
If you check the v3 docs without a trailing slash you get the AWS URL in the address bar - https://docs.craftcms.com/v3

Goes here:

http://awseb-e-d-awsebloa-z7javxtlhtny-1801095340.us-west-2.elb.amazonaws.com/v3/

With the trailing slash it works fine https://docs.craftcms.com/v3/

[2018-10-12 17:15] mrudling commented on #204
Seems to be an issue for v2 as well:

https://docs.craftcms.com/v2

Goes to:

http://awseb-e-d-awsebloa-z7javxtlhtny-1801095340.us-west-2.elb.amazonaws.com/v2/

[2018-10-31 13:21] #199 closed

[2018-10-31 16:31] #194 closed

[2018-11-01 22:38] brandonkelly commented on #124
Looks like this is resolved now.

[2018-11-01 22:38] #124 closed

[2018-11-01 22:39] brandonkelly commented on #122
Looks like this is done now.

[2018-11-01 22:40] #104 closed

[2018-11-01 22:43] brandonkelly commented on #18
The Craft 3 version of this (`enabledForSite`) has better docs with an example.

[2019-01-20 22:56] richhayler opened #5 "Craft Guides: Add guide for using live preview across multiple domains"
### Description
CraftCMS introduced a new featured in 3.1 to enable the ability for live preview to work on multi site setups when previewing entries that reside on other domains (in addition to the CP domain). Other than the linked guide below (specifically mentioning config for multiple sub domains), there is no documentation to explain what needs to be setup to enable this new feature. The guid

[2019-09-25 14:58] JustJarethB opened #30 "[FR] Ability to post base64 images"
### Description
Sometimes we want to upload an image without using `input type="file"`. Base64 encoding is a reasonably common format and can be set as an input's value without much trouble.

[2019-09-25 16:57] andris-sevcenko commented on #30
This has been possible for [quite a while now](https://github.com/craftcms/cms/commit/073d73f784194e68b0384c0280629f74aeda23bc).

If memory serves you would use the following code in your templates.:
[code]

[2019-09-26 08:28] JustJarethB commented on #30
Amazing, thanks @andris-sevcenko. I didn't find this anywhere in the docs though, would it be possible to make it more easy to find this out? Perhaps add to https://docs.craftcms.com/v3/assets-fields.html#uploading-files-from-front-end-entry-forms ?

[2019-09-26 08:56] andris-sevcenko commented on #30
Fair point!

[2019-10-29 13:02] j-greig opened #1 "Feature request: documentation for multisite server config on Nginx etc"
I know it's impossible to cover every stack/scenario — but some basic documentation on configuring the most typical server setups for Craft multisite would be hugely appreciated.

(I've just spent more than an entire day getting multisite working via Nginx on a Forge-provisioned VPS and have [almost](https://craftcms.stackexchange.com/questions/32874/nginx-config-cachebusting-rewrite-for-multiple-

[2019-10-29 17:19] angrybrad commented on #1
Yup, will leave this open, but this is on our list, just FYI.

[2019-10-29 18:16] j-greig commented on #1
Thanks @angrybrad appreciate the update.

[2019-10-31 14:10] SayChi opened #26 "user.can('editEntries:[SectionID]') vs user.can('editEntries:[SectionUID]')"
### Description
**Heads up**: this might be a long one, and I may very well be wrong. So please use a healthy dose of scepticism :)

I'm working on upgrading a site from craft 2 to 3 and ran into an issue with currentUser.can(). According to [this page](https://docs.craftcms.com/v3/users.html#permissions), in order to check if the user can edit entries in a section (which is what I'm using as a me

[2019-10-31 19:05] brandonkelly commented on #26
Thanks for pointing that out, @SayChi! That was a documentation bug, and I’ve just pushed a fix for it.

https://docs.craftcms.com/v3/users.html#permissions

[2019-11-29 00:10] OldStarchy opened #2 "Nested permissions syntax missing"
This page shows how to define nested permissions but doesn't have information on how to check for them.

https://docs.craftcms.com/v3/extend/user-permissions.html

eg. for this example
[code]

its not clear which of the following is correct (if any)
[code]

[2019-12-03 20:44] mylesthedev opened #3 "[Feature Request] Improve documentation for custom elements"
### Description
I've had to make a few custom elements on a couple projects recently and the experience wasn't the best. The documentation points you in the right direction but basically stops and says copy one of Crafts existing elements.

It would be great if a simple element could be created more quickly either with better documentation e.g. actual examples or some kind of CLI tool.

Even if th

[2019-12-04 12:51] timkelty opened #4 "Document Element::isFieldEmpty usage"
Started: https://github.com/craftcms/cms/issues/5300

I would like to see `isFieldEmpty` (`Element::isFieldEmpty`, `entry.isFieldEmpty('myField')`, et. al.) documented as a valid way to check a field for empty regardless of the fieldtype.

It looks like Craft uses this internally for required validation, but can be useful in other contexts as well.

In my use-case, I'm mapping a set of element fie

[2019-12-09 20:35] jakedohm opened #20 "[Feature request] Provide defaults for parameters"
When looking at something like the `orderBy` element query parameter ([here](https://docs.craftcms.com/v3/dev/element-queries/entry-queries.html#orderby)), it would be really convenient to know what the default is without digging into the source code.

[2020-01-24 16:39] matt-adigital commented on #5
Also ran into this using Craft 3.3.3 and couldn't find relevant documentation for it. We have 2 sites on completely different domains but powered by the same control panel. I've not made any changes to the cp domain, but I've tweaked the htaccess file on the additional domain (without a cp) to include the following:

[code]

Obviously replace cpdomain in the code example with your actual cp domain

[2020-01-29 11:10] jamesmacwhite opened #6 "Upgrading from Craft 2: Modifying plugin handle"
I'm just querying this for sanity reasons. From a Craft 2 to 3 migration, I don't seem to have the settings column on the `craft_plugins` table.

The example for modifying a Craft 2 plugin handle reference the settings columns below, but it doesn't seem to exist:

https://docs.craftcms.com/v3/extend/updating-plugins.html#writing-an-upgrade-migration

For updating the handle, the settings column is

[2020-01-30 09:29] atdotslashdot opened #25 "documentation : remove old version from download page"
https://docs.craftcms.com/v3/installation.html#step-1-download-craft has  a link to a very old download. It should be removed (or replaced with what is considered to be the newest stable version)

[2020-01-30 21:45] brandonkelly commented on #25
Good call. Now linking to 3.3.20.1 instead, the last stable 3.3 release.

[2020-02-07 14:30] timkelty opened #31 "Document which config vars (via localizedValue) can be PHP callable"
I stumbled across this and it simplified alot I was doing with redirects: https://github.com/craftcms/cms/issues/1003#issuecomment-296690091

Would be great if docs reflected anywhere `localizeValue()` allows you to pass a `callable`.

eg https://docs.craftcms.com/v2/config-settings.html#users

[2020-02-19 14:19] LarsDol opened #22 "Upgrades v.s. updates inconsistency"
Hi ya'll!

Just noticed a little naming inconsistency. I stumbled upon the "Should we update to Craft 3" page (https://craftcms.com/guides/should-we-update-to-craft-3), where a little `Update vs. Upgrade` section is dedicated to the fact that 'update' is the preferred term.

This 'Update v.s. Upgrade' terminology isn't really consistently applied to the actual update guide: https://docs.craftcms.c

[2020-02-21 18:49] dougstjohn opened #32 "Restructure 'Extending Craft' pages"
The current page structure for plugin/module extension is confusing for someone who never worked with Craft2 and only cares about extending Craft3.

Referencing: https://docs.craftcms.com/v3/extend/updating-plugins.html

A lot of the important Craft3 extension information is under 'Updating Plugins for Craft 3' and the content references both v2 and v3. This assumes you know v2 and are migrating t

[2020-02-21 19:58] dougstjohn opened #33 "Tell devs to run the CLI command for setting up tests"
The 'Getting Started' page for testing is a lot of creating folders, creating files, and copying code.

It'd be simpler and less room for error if you tell devs to run the CLI command `./craft tests/setup` and then call out specific files they need to manually update. You could then remove the manual steps completely and just give a high-level overview of the folder structure.

Referencing: https:

[2020-02-21 20:08] mattstein commented on #32
Thanks for your feedback and recommendations, @dougstjohn! Agreed, and will improve.

[2020-02-21 20:09] mattstein commented on #22
Thanks @LarsDol!

[2020-02-24 17:26] rmales opened #23 "PHP DOM extension is incorrectly listed as optional"
In the installation instructions the DOM extension is listed as optional (https://docs.craftcms.com/v3/requirements.html#required-php-extensions), but it actually seems to be required.

[2020-02-24 19:09] mattstein commented on #23
Good catch @rmales, thanks for pointing this out!

[2020-02-26 08:19] mEsUsah opened #24 "Update the plugin tutorial"
The tutorial on how to build plugins is great, but on the page about creating a settings page you forgot to mention that the composer.json file has to set:

`"hasCpSettings": true,`
`"hasCpSection": true,`

to make the settings "link" show up in the cp.

[2020-03-02 15:54] mattstein commented on #24
Thanks for pointing this out, @mEsUsah! Just updated the intro to mention `hasCpSettings`.

This has been confusing for a number of people (myself included), but you can define `hasCpSettings` and `hasCpSection` in `composer.json` **or** properties on your main plugin class as described here: https://docs.craftcms.com/v3/extend/cp-section.html#plugin-sections

I [submitted a PR for pluginfactory.i

[2020-03-12 22:15] lindseydiloreto commented on #33
Wait, what?? `tests/setup` is a thing?

[2020-03-16 06:15] OscarBarrett opened #34 "Versioning/Updated Dash docsets"
Currently [Dash](https://kapeli.com/dash) has Craft docsets as part of the main docset library, but they are not currently up to date (latest v2 is 2.6 and latest v3 is 3.1).

There's probably no blocker for getting 2.7 in there via the `v2` branch considering it is only receiving security updates now, but there are no dedicated branches or tags for this repo that allow for delineation between 3.2

[2020-04-01 21:17] mattstein commented on #22
Checked Craft CMS and Commerce docs to be sure they’re internally consistent, closing now that the page in question redirects. Will definitely try to stay consistent with this terminology!

[2020-04-02 21:54] mattstein opened #21 "Add PHP database cache component example"
Also replace the tip with command instruction just like [the current database example](https://docs.craftcms.com/v3/config/app.html#database-example).

[2020-04-02 21:55] mattstein commented on #21
Added tip in daef1d5039abbf020e2e2c366b1bd785952e2d45.

[2020-04-03 15:55] keyurshah opened #35 "Promote search engine indexing of newer versions"
When i do searches in google, the craft commerce 2 documents appear on top. Can those be blocked in the robots.txt so google will index and prioritize craft commerce 3 in searches?

Thanks!

[2020-04-07 17:30] mattstein commented on #21
Done in 67b6a303a0b567da1ba1fe60617bd9c2597e3878.

[2020-04-09 19:43] mattstein commented on #20
It took four months of grueling work @jakedohm, but we’ve finally done it.  🎤⬇️

[2020-04-09 21:43] jakedohm commented on #20
@mattstein you are a treasure ❤️

[2020-05-04 22:43] henrypenny opened #19 "Frustrating documentation for controllers"
docs/extend/controllers.md

After an hour of debugging I figured out that accessing custom controllers in Craft seem to require  the first slug to be `/action/`.

I would be great if the documentation mentioned this.

[2020-05-06 18:43] mattstein commented on #19
Thanks for bringing this up, @henrypenny!

You can also customize that `/action/` trigger and there are more ways you can get at the controller action. We [just added a new section](https://github.com/craftcms/docs/commit/cb65260805d81c6d447fcde438da768815983484) to that page explaining the options: https://docs.craftcms.com/v3/extend/controllers.html#requesting-your-controller-action

[2020-05-20 15:33] mattstein commented on #35
Thanks for the issue, @keyurshah!

Blocking indexing of older versions may be a step too far, but this is something we’re working to improve.

[2020-05-22 17:44] brandonkelly commented on #30
Documented now: https://docs.craftcms.com/v3/assets-fields.html#creating-new-assets

[2020-05-26 13:25] BenParizek opened #36 "Element Saving for Drafts, Revisions, Multi-Site need documentation for Plugin Development"
Since the move to make Drafts and Revisions Elements, it has been increasingly confusing for the number of scenarios custom Elements and Field Types need to support (measured by bug reports, time spent on client Yii modules dealing with Elements/Field Types, and curse words). In most cases, I think the solution is easier than I'm making it but the lack of documentation on how to even think about t

[2020-07-29 03:18] GaryReckard opened #18 "Typo 'sourcElement' on docs/relations.md"
### Description
Just a typo. 'sourcElement' should presumably be 'sourc**e**Element'

### Steps to reproduce

1. Go to https://github.com/craftcms/docs/blob/v3/relations.md
2. Search for sourcElement

[2020-07-29 13:33] mattstein commented on #18
I agree, thanks Gary! (Who even knows what a `sourc` is?!)

[2020-08-03 23:23] #18 closed, assigned to nobody

[2020-08-03 23:24] #19 closed, assigned to mattstein

[2020-08-03 23:24] #20 closed, assigned to mattstein

[2020-08-03 23:24] #21 closed, assigned to mattstein

[2020-08-03 23:24] #22 closed, assigned to nobody

[2020-08-03 23:24] #23 closed, assigned to mattstein

[2020-08-03 23:24] #24 closed, assigned to mattstein

[2020-08-03 23:24] #25 closed, assigned to nobody

[2020-08-03 23:24] #26 closed, assigned to nobody

[2020-08-04 04:48] lukeholder opened #27 "Improve variant stock explanation"
- Products that do not have multi-variant enabled still have a single variant that tracks the stock.
- You still need to query the default variant from the product to know the stock of the product. `product.defaultVariant.stock`

Background: https://craftcms.zendesk.com/agent/tickets/7752 (private link)

[Transferred from legacy repo](https://github.com/craftcms/legacy-commerce-docs/issues/41).

[2020-08-04 05:30] #27 closed, assigned to nobody

[2020-08-04 15:49] simeon-smith opened #29 "Documentation Around Using AJAX with Craft/Commerce"
### Description

It would be great to have documentation around the endpoints that accept AJAX requests and the information they accept and return.

[2020-08-04 22:09] #30 closed, assigned to andris-sevcenko

[2020-08-04 22:13] mattstein commented on #32
We’ve launched new docs that should greatly help ease navigation, clearly separated out the _Extending Craft_ section, and reorganized to make a variety of things—including upgrading and core concepts—easier to find and read. Closing this, but let me know if the restructuring *isn’t* helpful!

[2020-08-04 22:13] #32 closed, assigned to mattstein

[2020-08-04 22:17] mattstein commented on #35
The freshly-updated docs include a full XML sitemap, and a feature that should help humans and spiders alike: if you follow a link into the docs from a search engine and you’re not looking at the most current version, you’ll get a suggested link at the top of the page to view the most recent version of that document.

This should improve UX and indexing, and we can revisit if that’s not the case!

[2020-08-04 22:17] #35 closed, assigned to nobody

[2020-08-05 15:09] bleepsandblops opened #39 "Link to Commerce example templates in the docs is wrong"
### Description
On this page
https://craftcms.com/docs/commerce/3.x/example-templates.html
the first link at the top
https://github.com/craftcms/commerce/tree/master/templates
is a 404

It should instead be
https://github.com/craftcms/commerce/tree/master/example-templates

[2020-08-05 15:10] CreateSean opened #40 "SVG Deprecation Warnings in 3.5.0 conflicts with documentation"
### Description

In the CP deprecation warnings I see this:

However when visiting the docs for the [svg function](https://craftcms.com/docs/3.x/dev/functions.html#svg) the example is this:

`{{ svg('@webroot/icons/lemon.svg', class='lemon-icon') }}`

with no reference of how to use the `|attr` filter

### Steps to reproduce

1. use an SVG function in your code according to the documentation
2.get

[2020-08-05 15:28] #39 closed, assigned to mattstein

[2020-08-05 15:29] mattstein commented on #39
Just updated, thanks @bleepsandblops!

[2020-08-05 18:23] ccchapman commented on #40
Discussed and closed by https://github.com/craftcms/docs/pull/37.

[2020-08-05 20:43] #40 closed, assigned to nobody

[2020-08-05 20:43] brandonkelly commented on #40
Thanks for pointing that out!

[2020-08-06 16:10] lukeholder opened #42 "Document the DOM PDF version requirements"
### Description

Craft Commerce requires PHP `7.0` or greater (just like Craft CMS).

The default craft project composer.json sets the platform to `7.0` https://github.com/craftcms/craft/blob/master/composer.json#L36

This platform requirement in the project will favour dependancies that are compatible with `7.0`

In Commerce we require `dompdf/dompdf ^0.8.3` which runs fine on PHP `7.0`

If you r

[2020-08-07 15:17] mattstein opened #44 "[Feature Request] add dark/light mode toggle"
### Description

Right now the theme honors your browser/system setting for `prefers-color-scheme`, but it’d be nice to allow the visitor to optionally override that with an on-page control.

[2020-08-09 18:11] piotrpog opened #47 "RelatedTo - use proper syntax for "and" relations."
https://craftcms.com/docs/3.x/relations.html#simple-relationships

Here's how `and` usage is described in code example:

[code]

It turns out however that in order for it to work correctly, such syntax needs to be used - at least with php:

[code]

Using syntax below in php, causes `array_merge(): Argument #2 is not an array` error:

[code]

[2020-08-10 16:25] mattstein opened #48 "[Feature Request] live search pagination"
### Description

Increase the suggestion limit and paginate beyond ten results.

[2020-08-11 13:23] mattstein commented on #42
@lukeholder let me know what you think of https://github.com/craftcms/docs/pull/50!

I didn’t include the note in the v3 upgrade notes since the Dompdf version requirement is exactly the same in Commerce 2.

[2020-08-11 16:04] cscomfort commented on #44
Working at a university, we're keen on accessibility and the dark mode introduced heaps of WCAG contrast failures -- and as we try to bring Craft on board for more of our projects, we need to feel confident that we can refer our users to the documentation.

It would be nice if the docs defaulted to the original light theme, with the option -- as suggested by @mattstein -- to toggle to dark.

Keep

[2020-08-11 16:13] mattstein commented on #44
Thanks @cscomfort! I think it’s important to continue honoring the visitor’s browser/OS setting by default, adding the ability to explicitly override if they’d prefer. Improving contrast and accessibility is a separate issue that’s definitely in the queue.

[2020-08-12 15:15] piotrpog opened #52 "omitScriptNameInUrls - wrong default value"
https://craftcms.com/docs/3.x/config/config-settings.html#omitscriptnameinurls

When I install craft, this setting is set to `true`, yet docs say that default value is `false`.

[2020-08-12 17:19] #42 closed, assigned to mattstein

[2020-08-12 17:34] mattstein commented on #47
Hey @piotrpog, I’m not sure I’m following. Those examples use proper syntax for the templating section they’re in—are you suggesting that we add PHP examples to the page as well or describing a problem with the Twig examples that exist now?

[2020-08-12 17:46] mattstein commented on #52
That’s the default value [directly from the codebase](https://github.com/craftcms/cms/blob/develop/src/config/GeneralConfig.php#L598). If you installed using `composer create-project craftcms/craft`, [that project would have set it to `true`](https://github.com/craftcms/craft/blob/master/config/general.php#L20).

[2020-08-12 17:46] #52 closed, assigned to nobody

[2020-08-12 22:25] mattstein opened #53 "[Feature Request] suggest Knowledge Base articles where relevant"
Sometimes [the Knowledge Base](https://craftcms.com/knowledge-base) goes into more detail or augments pages in the docs. It’d be nice to either auto-suggest or manually define (or both?) links for more crossover between the two resources.

[2020-08-17 03:50] marionnewlevant opened #56 "Docs site hangs for me in Firefox"
### Description
Attempting to browse the site in Firefox (79.0 on Mac), and navigation hangs

I see javascript errors like

and

Works in Chrome

[2020-08-17 13:53] mattstein commented on #56
Hi @marionnewlevant! Those chunks are generated with each new deploy and a refresh should immediately fix the problem. Does this persist for you regardless of the browser cache?

[2020-08-17 15:50] mattstein commented on #56
Related: https://github.com/vuejs/vuepress/issues/2090

[2020-08-18 13:35] darylknight opened #59 "Please change the highlight colour to be visible"
Love the new dark mode docs, but I can't see whether I've selected anything from the code examples. Could you please update that to something visible?

Example of text not selected:

![image](https://user-images.githubusercontent.com/1250017/90519467-b8b9ea00-e170-11ea-8230-8339d11866d5.png)

Example of a highlighted selection:
![image](https://user-images.githubusercontent.com/1250017/90519486-bf

[2020-08-18 14:08] #59 closed, assigned to mattstein

[2020-08-18 14:08] mattstein commented on #59
You’re right @darylknight, that was borderline cruel. Thanks for calling that out!

[2020-08-18 14:11] darylknight commented on #59
Sweet, thanks Matt!

[2020-08-18 18:55] mattstein commented on #34
Good news and bad news: since you posted this issue we’ve consolidated all versions of the Craft and Commerce docs into the main branch of this repository—in addition to Nitro’s docs and the Intro to Craft CMS tutorial. Live search is also local to the project and not dependent on Algolia, so once everything’s built I’m guessing it would be easier to pull into Dash.

We’ll definitely be sticking t

[2020-08-18 18:58] mattstein commented on #44
Just merged this in!

[2020-08-18 18:58] #44 closed, assigned to mattstein

[2020-08-18 19:10] mattstein commented on #13
I think we’ve got this covered now in https://craftcms.com/docs/getting-started-tutorial/configure/section.html#create-a-section.

[2020-08-18 19:10] #13 closed, assigned to nobody

[2020-08-19 08:38] dmatthams opened #60 "Events missing from Craft 3 documentation"
Not sure if it's hidden somewhere, but it exists on Craft 2 and Craft Commerce 3.

Just looking for a list of events that plugins/modules can use.

Thanks!

[2020-08-19 15:34] mattstein opened #61 "[Feature Request] improve accessibility"
### Description

Make all the documentation more accessible to everyone by targeting WCAG AA compliance.

[2020-08-21 02:38] mattstein commented on #56
Just tested new deployments that leave those older app bundles around and it seems to work nicely! You’ll still need to refresh to get the latest and greatest, but deployments should no longer disrupt an already-mounted VuePress instance. Closing and will re-evaluate if this turns out to have any weird side effects.

[2020-08-21 02:38] #56 closed, assigned to nobody

[2020-08-27 13:29] lukeholder opened #64 "Add missing Commerce PDF documentation"
There is currently no documentation on how PDFs are set up and used in the commerce system.

[2020-09-01 07:25] architchandra opened #65 "Improve “Entries”"
I have a suggestion for https://craftcms.com/docs/3.x/entries.html

The feedback is actually for the overall documentation site. It would be great if the search bar can be _fixed_ at the top so that even if I am reading something near the bottom of the page, I can press `/` and search the site from there.

[2020-09-01 14:19] mattstein commented on #65
Thanks for the suggestion, @architchandra. We considered keeping search fixed like in the [class reference](https://docs.craftcms.com/api/v3) but decided to give priority to page content instead. You *should*, however, be able to press `/` at any time to focus on the search field regardless of your scroll position.

[2020-09-01 14:19] #65 closed, assigned to nobody

[2020-09-03 06:34] simonkuran opened #68 "Commerce 3 customerFieldHandle references"
On [this page](https://craftcms.com/docs/commerce/3.x/dev/element-queries/order-queries.html#parameters) here's a couple references to `customerFieldHandle`. Isn't that not a feature in Commerce 3?

[2020-09-03 15:36] mattstein commented on #68
You’re right @simonkuran, thank you!

[2020-09-07 16:07] #68 closed, assigned to mattstein

[2020-09-10 05:42] nickwelsh1 opened #72 "Improve “Commands”"
I have a suggestion for https://craftcms.com/docs/nitro/commands.html

I'd add a note that for the `nitro ssh` command may need to be `winpty nitro ssh` instead on windows machines when using a Git Bash terminal (and perhaps other terminals?). I suspect if using a WSL terminal this may not be necessary?

[2020-09-11 19:36] mattstein commented on #72
Thanks for pointing this out, @nickwelsh1!

`nitro ssh` seems to behave as expected with cmd.exe, PowerShell, and WSL—only Git Bash/MinGW needed `winpty` in order to get an interactive prompt. (Otherwise you’d get a glimpse of the machine prompt without any ability to interact with it, which I point out mostly for posterity since I’m sure you’re aware.)

Just [added a note to the Commands page](ht

[2020-09-11 19:36] #72 closed, assigned to mattstein

[2020-09-21 07:50] toyflish opened #75 "Improve “Relations” reference the graphql equivalent in the docs"
I have a suggestion for https://craftcms.com/docs/3.x/relations.html
there is no documentation on how to query entries with relatedTo on fields that are in a matrix block.
Would be nice to have cross references in the docs between the query syntax and the graphql equivalent.

[2020-09-21 13:46] mattstein commented on #75
Thanks for both suggestions, @toyflish!

[2020-09-21 16:09] mattstein commented on #60
You’re not wrong @dmatthams, thanks for the issue. We’re working on standardizing and improving event documentation for Craft and Commerce, part of which will include conveying when events are triggered across common scenarios. I’ll leave this open until that’s a reality!

[2020-09-29 05:34] lukeholder opened #81 "Document shipping method options on an order"
Describe difference between shipping method option, shipping method, and shipping rule.

[2020-10-02 10:10] domstubbs commented on #48
I find myself constantly struggling to locate fairly basic stuff in the docs and I wonder whether this 10 result limit is the main culprit.

Case in point, a class reference search for “request” only includes results for `craft-console-request`. The result that most people will be after, `craft-web-request`, is nowhere to be found.

I’m not familiar with Algolia, but if exact class matches outrank

[2020-10-02 17:12] mattstein commented on #48
Thanks @domstubbs. I think what you’re describing is more a problem with relevance than the size of the result set.

We switched the [product documentation](https://craftcms.com/docs) to use [FlexSearch](https://github.com/nextapps-de/flexsearch) for a bit more control over the indexes and results, but the [class references](https://docs.craftcms.com/api/v3/) still use Algolia so improvement there

[2020-10-06 03:12] yfchen123 opened #84 "Improve “Dropdown Fields”"
I have a suggestion for https://craftcms.com/docs/3.x/dropdown-fields.html, It is unclear about what the html part of the actual names of the object, does not work when I use it..... The entry part is especailly confusing....

[2020-10-06 03:40] mattstein commented on #84
Thank you for the suggestion, @yfchen123.

Can you help me understand what part it is you find confusing? It would be helpful if you could share what you’re trying that does not work, or which parts of [the page](https://github.com/craftcms/docs/blob/main/docs/3.x/dropdown-fields.md) you’re referring to.

[2020-10-06 04:02] yfchen123 commented on #84
Hello mattstein: I used the code you suggested as below:
{% if row.hasSelect > 0 %}
                        <br>
                        <select name="{{ selectName }}" id="{{ selectID }}">
                            {% for option in select %}
                            {% set selected = '' %}
                            {% if option.active == option.active_state %}

[2020-10-06 12:33] mattstein commented on #84
Are you working with a dropdown menu inside of a table? I don’t understand where `row.hasSelect`, `option.active`, `option.active_state` are coming from—those are not on the page you mentioned.

I do not understand what you’re trying to do or where the _Dropdown Fields_ page is making it less clear.

[2020-10-06 18:22] mattstein commented on #2
I’m just learning this too, @aNickzz! [Looks like you were close](https://github.com/craftcms/cms/blob/7b89c4ad2f6250d0415b0fb22955576f685e0e25/src/helpers/Cp.php#L90-L90) and the answer is `:`:

[code]

Adding a note now, thanks for bringing this up!

[2020-10-06 18:23] #2 closed, assigned to mattstein

[2020-10-07 00:07] mattstein commented on #2
...and I’m totally wrong. Your first answer is the correct one:

[code]

It turns out the nesting is purely for UI and Craft’s use of `:` is its own convention for namespacing. You’ll always want to refer to the key of the relevant permission, and all the keys in the permissions array should be unique. Sorry for the (my) confusion!

[2020-10-07 00:12] mattstein commented on #2
Corrected documentation error in https://github.com/craftcms/docs/commit/e96200acad5667aa3946dd96c15e91dc68be2f41.

[2020-10-12 12:46] kbergha opened #88 "Unclear type in documentation for the backupCommand config"
### Description

The documentation for `backupCommand` states that the allowed types for this config value are: string or null.
But the last sentence in the documentation for the config states:

So is it possible to use a boolean false as well?
If so, what would happen if you use boolean true?

Or is supposed to be the string "false"?

### Steps to reproduce

1. Read docs at https://craftcms.com/d

[2020-10-12 16:17] mattstein commented on #88
Was able to reproduce, thank you @kbergha ;)

It [looks like](https://github.com/craftcms/cms/blob/2b5506a428bcfe384e3e43b6c9aed94206125aa1/src/db/Connection.php#L266-L278) the correct type should be `string|false|null`.

This is the intended `false`, as it looks like any string would be treated like a command.

For example...

[code]

...would result in...

[code]

[code]

Submitted a PR for upda

[2020-10-12 16:18] #88 closed, assigned to mattstein

[2020-10-13 09:52] nfourtythree opened #89 "Add docs for Commerce Reset Data cli command"
The next release of Commerce will include the `commerce/reset-data` cli command.

This is useful for people to cleanse that DB after finishing development of a project.

https://github.com/craftcms/commerce/blob/develop/src/console/controllers/ResetDataController.php

[2020-10-13 14:29] mattstein commented on #89
Just added a page with this, thanks for the heads up @nfourtythree! The `commerce/next` branch is ready to roll.

[2020-10-13 15:09] #89 closed, assigned to mattstein

[2020-10-16 09:35] dmatthams opened #91 "Flow of 'Element types' page"
Firstly, this section is so much better than when I attempted this before – it pretty much reads like a tutorial and has got me setup in no time 🙌

Because this page is in a specific order, it feels a little disjointed when you get to the [Index page](https://craftcms.com/docs/3.x/extend/element-types.html#index-page) section. Once I setup the index page I expected it to show my test entries strai

[2020-10-20 06:36] OldStarchy commented on #2
Thanks @mattstein :)

[2020-10-20 22:16] #91 closed, assigned to mattstein

[2020-10-20 22:17] mattstein commented on #91
Glad it’s improved and thanks for pointing this out, @dmatthams! Just reordered several of these subsections for easier reading.

[2020-10-21 09:49] dmatthams commented on #91
Great! Another big omission is the 'new element' button, I've figured it out but can see why it's not part of this page as it probably needs more space/it's own section along with all the other CP javascript (I imagine that is on the list!).

[2020-10-21 14:17] mattstein commented on #91
Would you mind putting each in a separate issue, @dmatthams? And “all the other CP javascript” is a bit broad—if you can narrow that or touch on the key points you’re thinking that would be helpful. Garnish.js, for example, does not have stellar documentation but it’s only one piece of the puzzle. 😅

[2020-10-21 14:28] dmatthams commented on #91
For sure, still working my way through everything but will feed back once I'm done!

[2020-10-21 21:13] wbrlsa opened #95 "Improve “Functions”"
I have a suggestion for https://craftcms.com/docs/3.x/dev/functions.html

There are no examples of the code in use only descriptions of what it does.
Apparently order matters with what you are passing to this function.

One example showing the function parameters used is all that is needed.

[2020-10-21 21:19] mattstein commented on #95
Thanks for the issue! Which function are you referring to, @wbrlsa?

[2020-10-21 21:22] wbrlsa commented on #95
Awesome response time.. I'm surprised really.... siteUrl().
url() has a sample at the very bottom of the page, but in using siteUrl() I could use clarification.
Having issues with Craft - it keeps appending the inputted text onto the site url, rather than making it the site url.. if that makes sense.

Thank you very much

[2020-10-21 21:28] mattstein commented on #95
Would you mind sharing an example of this? I’m not sure I’m following. It’d be helpful to see what Twig you’re using, what you expect the output to be, and whatever output you get instead.

[2020-10-21 21:32] wbrlsa commented on #95
My apologies, I need to go put out a fire(figurative). Can't stick around much longer but if a sample code for siteUrl() could be added it would help. Showing how to use scheme(http/https) specifically.  Thank you very much for your time!!

Have a great day and stay safe stay healthy!

[2020-10-23 11:40] totov opened #96 "Typo in the Coupon Codes documentation (closing form tag is opening tag)"
### Description
The tag here https://github.com/craftcms/docs/blame/main/docs/commerce/3.x/coupon-codes.md#L37 should be `</form>` instead of `<form>` to close the form element.

### Steps to reproduce

N/A

### Additional info

N/A

[2020-10-23 12:17] #96 closed, assigned to mattstein

[2020-10-23 12:18] mattstein commented on #96
Thanks @totov!

[2020-10-23 21:23] mraza007 opened #97 "Static assets not showing when using this theme"
### Description

Hi Craft team,
I'm using this documentation theme and i really love it. Its robust and interactive.
There are few issues I'm having
When i try to host dist/ my static assets don't show up I have tried all the possibilities but no luck

Any help or insight would be greatly appreciated

[2020-10-23 22:07] mattstein commented on #97
This is a proprietary theme we’ve developed for our own internal use only. You're welcome to use our [general-purpose theme](https://github.com/pixelandtonic/craft-docs) behind our class reference docs, however.

[2020-10-23 22:07] #97 closed, assigned to nobody

[2020-10-30 04:33] johandouma opened #98 "Improve Entry Form fields documentation"
In the docs for the Entry Form here https://craftcms.com/docs/3.x/dev/examples/entry-form.html, it is not obvious that form fields name attributes need to use the fields array like so: name="fields[customfield]". The input for the body field should have fields[body] right?

I can see that the Guest Entries plugin README example does specify fields[body] in the field name though.

[2020-10-30 04:35] johandouma opened #99 "Entry Form broken with "Show the Title field" unticked"
### Description

The Entry Form submission doesn't work when "Show the Title field" is unticked for the entry type that is being submitted. The error I got suggested that the slug cannot be empty. The work around was to reeanble the Show the Title field and pass it a title.

This was in Craft version: 3.4.30

[2020-10-30 04:36] johandouma commented on #98
Also see: https://github.com/craftcms/guest-entries/issues/61

[2020-10-30 22:21] mattstein commented on #99
@johandouma This is intended behavior: the slug must not be empty, so the error is correct, and a provided title will automatically be used to *generate* a slug if one isn’t explicitly provided. (Same as how it works in the control panel.)

[2020-10-30 22:21] #99 closed, assigned to nobody

[2020-10-30 22:22] #95 closed, assigned to nobody

[2020-10-30 22:30] mattstein commented on #98
Correct and good catch @johandouma, thanks! This example has a new home in the knowledge base, which I’ve updated to fix the error you pointed out: https://craftcms.com/knowledge-base/entry-form

[2020-10-30 22:30] #98 closed, assigned to nobody

[2020-11-04 17:45] OwenMelbz opened #103 "Improve “Email Fields”"
I have a suggestion for https://craftcms.com/docs/3.x/email-fields.html:

When creating a custom email template for default emails such as Password Reset, or Activate account - There's no documentation to say what variables you have access to within these templates, or what the block should be called etc.

[2020-11-04 17:55] mattstein commented on #103
This page is obviously underwhelming @OwenMelbz, but it sounds like you’re describing the process of customizing Craft’s email templates and not the “Email” field type—right?

[2020-11-04 17:57] OwenMelbz commented on #103
Yes..

I guess the title of the page and url is misleading as it doesn't mention that it is the "Email Field Type" - "Email Fields" could also suggest the fields you get within emails :D

[2020-11-04 17:59] mattstein commented on #103
Understood! Documenting system emails is on my list, but I’ll leave this issue open until the _Email Fields_ page has some actual words on it.

[2020-11-04 18:39] mattstein commented on #103
Added in 00962b50dfbe913908722bbbe96545411fa47093. Will cover customizing system emails later.

[2020-11-04 18:39] #103 closed, assigned to mattstein

[2020-11-09 10:37] ostark opened #108 "Relational field: without .one() / .all() is deprecated"
I noticed deprecated syntax for relational fields here:
https://github.com/craftcms/docs/blob/465eb0d384a29a43c0faba2fd045881ca62792ef/docs/3.x/relations.md#templating

## Deprecated syntax but still working

[code]

## Recommended syntax

[code]

Please correct me if I'm wrong.

[2020-11-09 18:35] mattstein commented on #108
You’re right, thanks @ostark!

[2020-11-09 18:35] #108 closed, assigned to mattstein

[2020-11-23 12:22] rickmills opened #114 "Improve “Element Queries”"
I have a suggestion for https://craftcms.com/docs/3.x/element-queries.html

The page mentions this:

Using that as an example, I go to the plain text field expecting to see an example of how to use a custom field using that type in an Element (not Entry) query, but theres no such examples.

Either the quoted text needs removing, or more preferably there needs to be an example of using custom field

[2020-11-23 20:18] mattstein commented on #114
Thanks for the feedback, @rickmills.

How would you expect to limit an element query by a field that stores plain text? There are examples of how you can use the [search syntax](https://craftcms.com/docs/3.x/searching.html) in element queries if your intent is to search for a field with specific content, but I’m not following what makes the plain text field an ideal example.

The checked field typ

[2020-11-24 09:30] rickmills commented on #114
Thanks for the quick reply @mattstein!

So the issue I had when I came to the docs page was that I've got a custom module to update Digital Products, so need to be able to query the Products in the Digital Products plugin, searching by a custom field that contains a unique reference.

Whilst I could find docs on searching something in twig that was an entry I couldn't see anything for things like

[2020-11-24 16:13] mattstein commented on #114
Nearly yes with a big asterisk.

`craft.entries()`, `craft.products()` each return an entry query. Per that first example on the _Entry Queries_ page, it looks slightly different in PHP where the element’s `find()` method returns the query object you customize.

Maybe you’re looking for [this page](https://craftcms.com/docs/commerce/3.x/dev/element-queries/product-queries.html)?

I’m guessing the

[2020-11-28 10:10] dmatthams opened #116 "Improvements to Element Type project config example"
I found it very hard to get my head around the [project config example for custom element types](https://craftcms.com/docs/3.x/extend/element-types.html#custom-fields). I'm new to plugin development so this could very well be the problem – so take this or leave it 😉

For context, I have a custom element type with a single field layout. The field layout is on the settings page so I have a custom co

[2020-11-28 10:27] dmatthams commented on #116
Looking more into this I think that I should have a service specifically for my element type, and not have this logic in a controller for field layouts – so ignore that bit.

[2020-11-30 11:50] rickmills commented on #114
Excellent, that helps massively, thanks a ton @mattstein !

[2020-11-30 11:51] #114 closed, assigned to nobody

[2020-12-11 11:32] Stalex89 opened #117 "Create/Update Commerce API documentation with Axios examples"
**What are you trying to do?**
I have a project which uses decoupled frontend on Nuxt.js and headless Craft as backend/api.
My task is to implement cart logic on the frontend (get cart, add items, remove items, checkout procedure etc.), so I have to use GraphQL/axios calls.
However I find it  a little bit challenging to implement all Axios calls for cart, as currently GraphQL supports only product

[2020-12-15 17:21] mark-wff opened #129 "Authorizing users in headless mode with React"
### Description

Is there a best practice how a user management with a SPA (Single Page Application) can/should be implemented? Does Craft have to be provided in the same domain or is it also possible to run Craft in a subdomain?

My current solution is to provide Craft in a subfolder. (Frontend: example.com/ Craft: example.com/craft)
It would be nicer to have a subdomain. (Frontend: example.com/

[2020-12-15 20:39] daltonrooney commented on #129
@mark-wff Take a look at the [GraphQL Authentication](https://plugins.craftcms.com/graphql-authentication) plugin.

My front-end and my CMS are on separate domains. I'm still working through some CORS and cross-site cookie issues, but this will handle the authentication piece for you.

[2020-12-15 22:14] brandonkelly commented on #129
Definitely possible to run Craft from a subdomain. See craftcms/cms#5303 for a discussion on handling headless authentication.

[2020-12-16 11:24] mark-wff commented on #129
If I understand it correctly, there is no mention of a logged in user in ticket craftcms/cms#5303 .

Your statement was:

In my case I need a user session. It would be great if we could open this ticket again.

[2020-12-17 01:45] brandonkelly commented on #129
Ah, alright.

[2020-12-17 09:15] craftedsystems opened #121 "Image Transforms: webp is missing in the list of image formats"
### Description

The option to use **webp** as image format in image transforms is missing in the docs.

* [Defining Transforms from the Control Panel](https://craftcms.com/docs/3.x/image-transforms.html#defining-transforms-from-the-control-panel)
* [Possible Values](https://craftcms.com/docs/3.x/image-transforms.html#defining-transforms-in-your-templates)

### Additional info

- Craft version: 3

[2020-12-17 11:58] Anubarak commented on #129
@mark-wff  Just my opinion but I always relied to Yii2 for such things https://www.yiiframework.com/doc/guide/2.0/en/rest-authentication

I really love Yii2 Rest Service and used it in several projects without regret. You can use it with a session too. Even on different domains if you allow auth cookies in your JS library of choice (eg: in Axios you need to define it, others do it automatically)

[2020-12-17 15:24] #121 closed, assigned to mattstein

[2020-12-17 15:24] mattstein commented on #121
Thanks for pointing this out @craftedsystems!

[2020-12-17 20:51] #64 closed, assigned to mattstein

[2020-12-17 20:51] #81 closed, assigned to nobody

[2020-12-17 23:28] #47 closed, assigned to nobody

[2020-12-18 08:23] mmikkel opened #122 "[FR] Make it easier to find user permissions list"
### Description

[The complete list of available user permissions](https://craftcms.com/docs/3.x/user-management.html#permissions) is super neat and an invaluable resource when working with permissions, but it's buried in the User Management page and is impossible to find via search.

It'd be great if searching for "permissions" or the like would actually yield a result for that list/page, or if t

[2020-12-18 14:24] lukeholder opened #123 "Commerce Docs updates"
The following are notes on the new Commerce docs.

I am yet to look through the Extending Commerce docs.

### Customers https://craftcms.com/docs/commerce/3.x/customers.html

#### Customers List

- [x] Use CP navigation path to this ‘Customer List’ ?
`commerce > customers`

#### Address Lines

- [x] Should address lines  be in this customers page or addresses page?

### Product Variants: https://c

[2020-12-18 21:42] mattstein commented on #123
Tried some illustrative single- vs. multi-variant “screenshots” in 5df019a47c9b3ae29b3f7215ca3d5936be8a5fe9.

[2020-12-18 22:17] mattstein commented on #123
This one’s covered in the first sentence on the page and again in _Downloading a PDF_, so I’m checking it off without any change.

[2020-12-22 07:23] mark-wff commented on #129
Okay I played around a bit with my configuration.

### Current working Solution
Domains:
Craft: craft.localhost
React: web.craft.localhost:3000

.htaccess
[code]

My Craft-Config (general.php):
[code]

Get CSRF-Token in React
[code]

Login-Function in React
[code]

### Nice To Have
This is how the login works for me. However, I can't activate the HeadlessMode like this,
because the HeadlessMode di

[2020-12-25 22:45] bencroker opened #126 "Broken Security Policy Link in Knowledge Base"
The Knowledge Base Security FAQ has a broken link to the [Security Policy](https://github.com/craftcms/cms/security/policy) at:
https://craftcms.com/knowledge-base/security-faq#ive-found-a-security-vulnerability-how-should-i-report-it

Reporting here since this is outside this repo but related to documentation.

[2020-12-26 15:31] mattstein commented on #126
Fixed, thank you @bencroker.

[2020-12-26 15:31] #126 closed, assigned to mattstein

[2020-12-26 19:58] bencroker opened #127 "Remove Deprecated `Public-Key-Pins` Header"
The Securing Craft page in the Knowledge Base recommends setting the deprecated `Public-Key-Pins` header:
https://craftcms.com/knowledge-base/securing-craft#set-security-headers-for-the-front-end-site

Please consider removing this header, as recommended at https://developer.mozilla.org/en-US/docs/Web/HTTP/Public_Key_Pinning

Reporting here since this is outside this repo but related to documentat

[2020-12-26 20:00] bencroker commented on #127
Please also consider adding the `Expect-CT` header in its place:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Expect-CT

[2020-12-28 15:50] mattstein commented on #127
Done, thank you @bencroker!

[2020-12-28 15:50] #127 closed, assigned to mattstein

[2020-12-29 18:09] monooso opened #128 "Inconsistent configuration keys in documentation"
### Description
The [Setting up Tests](https://craftcms.com/docs/3.x/testing/testing-craft/setup.html#step-3-create-required-files) documentation specifies a `dbSetup` configuration setting, which controls how the database is setup before tests. Below the example YAML document is a callout, which points to an explanation of the configuration variables.

However, [the explanation](https://craftcms.

[2020-12-29 23:36] angrybrad commented on #128
`dbSetup` is the correct config setting - i've updated the docs here to reflect https://craftcms.com/docs/3.x/testing/framework/config-options.html#dbsetup and updated https://github.com/craftcms/cms/commit/05f0b95a30dfc93180854b1bf43e221dc213e37a to be consistent. Left this method name the same for backwards compatibility https://github.com/craftcms/cms/blob/master/src/test/Craft.php#L211

Thanks

[2020-12-29 23:36] #128 closed, assigned to nobody

[2020-12-31 02:41] brandonkelly commented on #129
Transferred this over to our docs repo, since this seems mostly like an opportunity to improve headless documentation.

[2020-12-31 16:51] mattgrayisok opened #131 "Plugin migrations containing project config changes break for projects not using project-config/apply"
### Description

As described and tested in the `extending-craft` discord channel, it seems as though the suggested method in the Craft docs of implementing plugin migrations which contain project config updates ([see here](https://craftcms.com/docs/3.x/extend/project-config.html#project-config-migrations)) will prevent the same migrations from working for any projects which are _not_ using projec

[2021-01-02 15:22] mark-wff commented on #129
Would be good if the documentation for headlessMode was more detailed at this point. But I also think that the headless mode for authentication could be improved to talk with Frontend-Frameworks like React and so on.

[2021-01-04 13:04] ostark opened #130 "Explain or drop version field recommendation in composer.json"
The plugin docs recommend to maintain the version field for some undocumented reason:

I'm about to remove the version field from my packages and wonder if there is a good reason to keep it.

For me it requires double housekeeping of versions which is prone to errors. AFAIK packagist will use the git tag/release if possible.

[2021-01-04 17:09] mattstein commented on #123
@lukeholder How do you feel about this somewhat random JSON example I used on the [Addresses page](https://craftcms.com/docs/commerce/3.x/addresses.html)? As far as templating goes, I’ll usually dump something out to JSON in order to get a sense of what’s there—and being in a little arrow toggle it doesn’t hurt the page flow.

Could that work here?

![Screen Shot 2021-01-04 at 11 07 02 AM@2x](http

[2021-01-04 17:49] mattstein commented on #123
Updated `cartUpdatedNotice` → `successMessage` in e46714a0e37f2888ade04a8a1449a1dbc9a2d331. There’s no direct/obvious place to link `successMessage` in the Craft docs, but once Commerce has its own Controllers page we’ll be able to link to that liberally.

[2021-01-04 18:58] brandonkelly commented on #131
I’d say this is a documentation issue, which should be addressed in two parts:

1. [Project Config Migrations](https://craftcms.com/docs/3.x/extend/project-config.html#project-config-migrations) should warn that the plugin should be defensive for the possibility that the project config changes don’t end up getting applied (so make sure your plugin works normally without them).
2. The [Project Conf

[2021-01-04 20:15] mattgrayisok commented on #131
Thanks Brandon. That all sounds good and is what I expected. I actually forgot that `writeYamlAutomatically` existed so that simplifies the use case for non-PC users.

Personally I'm going to ensure that, where feasible, my release notes moving forward contain the steps needed to manually apply any migrations which the plugin requires/expects so that if anyone is caught in the trap they have an es

[2021-01-06 15:14] mattstein commented on #123
Per discussion, should try `toArray()` representation with whatever `extraFields()` make sense. Will try in a few places and omit these examples if they’re more confusing than the API docs.

[2021-01-12 16:36] mattstein opened #132 "Main navigation can end up with double scrollbars"
### Description

The left sidebar, depending on someone’s browser and OS settings, can end up with ugly double scrollbars. Nobody needs that.

<img width="480" alt="Exhibit A" src="https://user-images.githubusercontent.com/2488775/104341994-ffadd080-54bf-11eb-80e4-4c64d4c0f03d.png">

<img width="200" alt="Exhibit B" src="https://user-images.githubusercontent.com/2488775/104342005-02102a80-54c0-11e

[2021-01-12 16:36] mattstein opened #133 "Main navigation can end up with double scrollbars"
### Description

The left sidebar, depending on someone’s browser and OS settings, can end up with ugly double scrollbars. Nobody needs that.

<img width="480" alt="Exhibit A" src="https://user-images.githubusercontent.com/2488775/104341994-ffadd080-54bf-11eb-80e4-4c64d4c0f03d.png">

<img width="200" alt="Exhibit B" src="https://user-images.githubusercontent.com/2488775/104342005-02102a80-54c0-11e

[2021-01-12 16:45] mattstein opened #134 "On-page anchor scroll can result in incorrect URL shift with certain headings"
### Description

From @engram-design in Discord:

Heading levels beyond the sidebar navigation result in weird behavior because of a workaround for another VuePress scroll bug. All heading levels should be registered and handled consistently.

### Steps to reproduce

1. Visit page like [Orders & Carts](https://craftcms.com/docs/commerce/3.x/orders-carts.html) whose content uses heading levels deep

[2021-01-13 00:03] ccchapman opened #135 "Warning regarding @web alias"
The `@web` alias is mentioned in the [sites](https://craftcms.com/docs/3.x/sites.html#site-url) and [config](https://craftcms.com/docs/3.x/config/#aliases) documentation pages. The former says to never use `@web` for a site URL, while the latter says you should explicitly declare its value if doing so.

I generally use an explicit `@web` value (i.e. it's synced to a `.env` value in `config/general

[2021-01-13 18:10] #135 closed, assigned to mattstein

[2021-01-13 18:12] mattstein commented on #135
Thanks @ccchapman! Just updated the _Sites_ page warning to be consistent with the _Configuring Craft_ note.

[2021-01-14 01:42] mattstein commented on #122
We have a trick for that! Just updated in b9c250bdeba638621ee30840e1380c0fa5651619—it’s not perfect a search for `permissions` should always give a boost to the [User Management page](https://craftcms.com/docs/3.x/user-management.html) and land it in a top spot.

Thanks for pointing this out.

[2021-01-14 01:42] #122 closed, assigned to mattstein

[2021-01-14 08:09] mmikkel commented on #122
Excellent, this helps a lot! Thanks :)

[2021-01-14 08:54] lukeholder opened #137 "Commerce 3.3 docs updates"
Craft Commerce 3.3 will come with a few enhancements that will need documenting (when released).

The WIP changelog is here for monitoring: https://github.com/craftcms/commerce/blob/3.3/CHANGELOG-3.3.md

[2021-01-14 12:10] ostark commented on #130
@mattstein no opinion on this topic?

[2021-01-14 12:16] mattstein commented on #130
@ostark I wondered the same thing when you asked, and it sounds like leaving the version in composer.json is still useful if you end up including `path` repositories.

[2021-01-14 12:17] mattstein commented on #133
🤦‍♂️ Duplicate of #132.

[2021-01-14 12:17] #133 closed, assigned to nobody

[2021-01-14 12:33] ostark commented on #130
Locally you probably want to use the latest code in the working directory (path) of the plugin.

That's the behavior when you use `"me/my-plugin": "*"`. ~~Or you want to use a specific branch, which is possible with `"me/my-plugin": "dev-somefeature".~~.

It happened more than once to me, that I forgot to update the "version" in the composer.json of the package before tagging it and releasing it.

[2021-01-14 12:58] mattstein commented on #132
^ Fixed the duplicate issue via commit. Really on fire here. 😬

[2021-01-14 12:58] #132 closed, assigned to nobody

[2021-01-14 16:48] mattstein commented on #134
Definitely related to `@vuepress/active-header-links`.

[2021-01-15 11:09] ostark commented on #130
When you require repositories using "path", by default the code is symlinked, which means any change you do with your plugin is directly reflected in the test-project. Using a specific version might be even more confusing than "*" or "dev-master".

### Example:
You require `me/my-plugin:^1.5.0` in your test-project using a local "path". Then you start working on the "2.0.0" version and specify it

[2021-01-15 18:14] mattstein commented on #130
It may make a couple things easier on you, but since nobody knows what they are we’ll get rid of the suggestion. Thanks @ostark!

[2021-01-15 18:14] #130 closed, assigned to mattstein

[2021-01-15 20:21] ostark commented on #130
@mattstein Awesome. That was my intention 😀

[2021-01-15 20:46] mattstein commented on #134
The active header links plugin assumes that all heading anchors have corresponding links in the sidebar, and uses those pairings to forcibly update the URL hash while scrolling page content. Modified the plugin to evaluate **all** heading anchors when updating the URL hash and ignore the sidebar relationship altogether.

[2021-01-15 20:49] #134 closed, assigned to mattstein

[2021-01-19 19:22] mattstein commented on #131
We’ve updated the docs to clarify [each of these points](https://github.com/craftcms/docs/issues/131#issuecomment-754154282).

[2021-01-19 19:22] #131 closed, assigned to nobody

[2021-01-26 15:03] sparkalow opened #139 "Improve documentation around successMessage param for carts"
I have a suggestion for 'successMessage' info on  https://craftcms.com/docs/commerce/3.x/orders-carts.html

[code]

[2021-01-26 15:09] #139 closed, assigned to mattstein

[2021-01-26 15:10] mattstein commented on #139
Just fixed, thanks for pointing out that @sparkalow!

[2021-01-30 22:01] ericjanofski opened #140 "Improve “Controllers”"
I have a suggestion for https://craftcms.com/docs/3.x/extend/controllers.html

I simply cannot understand controller and how to get one to work with only references to foo and bar. I need examples and it's all abstract as though it's written for someone who completely understands the content already. New adopters will struggle and use a different platform if the essential task of calling a control

[2021-01-30 22:20] mattstein commented on #140
Thanks for the feedback, @ericjanofski! This page is meant for developers extending Craft to add their own controllers—hence the `foo` and `bar` since the plugin itself will dictate whatever the controller is doing.

If you’re looking to call Craft’s existing controllers, they’re documented here:
https://craftcms.com/docs/3.x/dev/controller-actions.html

Several examples there include links with f

[2021-01-30 22:20] #140 closed, assigned to nobody

[2021-01-30 22:31] ericjanofski commented on #140
Thanks Matt. i used pluginfactory and created a module. I was able to get a template to auto load for a custom control panel index page. But I'm struggling with getting a controller to load variables. there's nothing here that shows how to register a controller to handle a twig file that's loaded by the cp templates.

[2021-01-30 23:05] mattstein commented on #140
Anything can post to a controller as long as it’s compatible with the site CSRF settings and the controller’s authentication requirements (if any) for the relevant action. So there’s no special relationship between Twig and the controller.

If I’m understanding correctly and you’re able to post from your custom control panel template to this controller, but you’re not sure how to access the post p

[2021-01-30 23:36] ericjanofski commented on #140
Matt, thank you so much for taking the time to help. After two days I found the answer.

In my modules init i added this:

        Event::on(
            UrlManager::class,
            UrlManager::EVENT_REGISTER_CP_URL_RULES,
            function (RegisterUrlRulesEvent $event) {
                $routes = include __DIR__.'/routes.php';
                $event->rules = array_merge($event->rules, $rou

[2021-01-30 23:42] mattstein commented on #140
I’m not sure I did help @ericjanofski, but I’m glad you solved it! :)

Thanks again for taking the time to file an issue here.

[2021-02-11 22:07] jrrdnx opened #149 "Anchor scroll issues in Chrome (v88) and Safari (v14)"
When navigating to a heading either from a result in the Search bar dropdown, or from the 'On This Page' sidebar menu, the page is scrolled to the wrong location in Chrome (v88). This currently works perfectly for me in Firefox (v85).

Both the Search bar results and the 'On This Page' menu have the same result, but depending on where the anchor tag is on the page it either scrolls not far enough

[2021-02-12 00:57] mattstein commented on #123
@lukeholder We’ve been waiting on me to figure out how to display an example object because the code toggle (pictured above) performs abysmally in Chrome. I finally did this with a heigh-limited component you can expand:

![Screen Shot 2021-02-11 at 06 48 53 PM](https://user-images.githubusercontent.com/2488775/107717943-675f6300-6c9a-11eb-8950-4fdbdd918c8d.gif)

These are the two example Commerce

[2021-02-12 00:57] #123 closed, assigned to mattstein

[2021-02-12 01:09] mattstein commented on #149
Thanks @jrrdnx! I’ve been battling scroll issues for a while but thought I had them fixed.

Is there any chance your viewport width was consistently >= 1408px in each case you mentioned? If so, does everything behave normally < 1408px?

[2021-02-12 02:11] jrrdnx commented on #149
Taking a closer look, yes! It definitely looks like the `zoom` at that breakpoint is the cause. Not to step on any toes, but would setting `font-size: 108%;` on the `html` element work for you? It looks to achieve the same effect without causing any smooth scrolling issues.

[2021-02-12 02:18] mattstein commented on #149
The `zoom` visual result is intentional but it causes a number of tricky issues. I wonder if we can get away with adjusting the font size only as you suggest—will keep this open until it’s resolved one way or another.

Thanks for bringing this up so carefully and sharing that idea.

[2021-02-12 02:20] jrrdnx commented on #149
No problem, glad to help!

[2021-02-12 20:51] #149 closed, assigned to nobody

[2021-02-12 21:03] mattstein commented on #149
Just updated to use `font-size` instead. Thanks again for the nudge on this @jrrdnx. 🎩

[2021-02-12 21:40] jrrdnx commented on #149
Works perfectly, thank you! Always glad to lend a hand.

[2021-02-13 13:27] lukeholder commented on #137
Added a writeup of the notices feature coming in 3.3: https://github.com/craftcms/commerce/pull/2000#issue-572937274

[2021-02-14 09:10] VirgilRealityDev opened #150 "Improve “Installation”"

[2021-02-16 07:52] #150 closed, assigned to nobody

[2021-02-23 15:52] lukeholder opened #158 "Update emails screenshot"
Remove or update the email setup screenshot on this page:

https://craftcms.com/docs/commerce/3.x/order-status-emails.html#creating-an-email

see also https://github.com/craftcms/commerce/issues/2018

[2021-02-23 16:45] #158 closed, assigned to mattstein

[2021-02-23 16:49] mattstein commented on #158
This page is also an old duplicate (my fault):
https://craftcms.com/docs/commerce/3.x/order-status-emails.html#creating-an-email

Correct equivalent is the one in the sidebar navigation:
https://craftcms.com/docs/commerce/3.x/emails.html#creating-an-email

[2021-02-23 16:51] mattstein commented on #158
Set up a redirect that’ll be active next time we clear out the build cache.

[2021-02-25 20:02] mattstein commented on #117
Hey @Stalex89, we’ve got a Controller Actions page for the Commerce documentation that’ll be launching alongside Commerce 3.3. It’s modeled after [Craft’s own Controller Actions page](https://craftcms.com/docs/3.x/dev/controller-actions.html) and it should help in this case. Take a peek here if you’d like: https://github.com/craftcms/docs/blob/next/commerce/docs/commerce/3.x/dev/controller-actions

[2021-02-25 20:07] Stalex89 commented on #117
Hi @mattstein, thank you very much for the information, I will check it   😃

[2021-02-25 20:09] mattstein commented on #53
Better to designate manually. Working on this in https://github.com/craftcms/docs/tree/feature/further-reading.

[2021-02-25 20:46] mattstein commented on #117
Also snuck in an Axios example here just for good measure: https://craftcms.com/docs/commerce/3.x/orders-carts.html#fetching-a-cart

🤫

[2021-02-25 20:57] mattstein commented on #137
Ready to go: https://github.com/craftcms/docs/tree/next/commerce

[2021-02-26 22:24] mattstein commented on #29
Thanks for the issue @simeon-smith, we have these now!

The Craft CMS [Controller Actions](https://craftcms.com/docs/3.x/dev/controller-actions.html) page is live, and there’s one for Commerce that’s ready to be published along with v3.3: https://github.com/craftcms/docs/blob/next/commerce/docs/commerce/3.x/dev/controller-actions.md

We’ve also updated the jQuery and Axios examples here:
https://c

[2021-02-26 22:24] #29 closed, assigned to nobody

[2021-02-27 16:08] mattstein commented on #34
Closing since we don’t have control over Dash docsets and don’t plan on changing how the docs are versioned.

[2021-02-27 16:08] #34 closed, assigned to nobody

[2021-02-27 16:12] mattstein commented on #84
Closing since I’m not sure there’s anything actionable here. If I can understand the issue I’d be happy to address it!

[2021-02-27 16:12] #84 closed, assigned to nobody

[2021-03-04 02:58] narration-sd opened #164 "Improve “About Craft Nitro”"
I have a suggestion for https://craftcms.com/docs/nitro/2.x/

There's no information I can find about server ram and disk requirements?

[2021-03-04 17:30] joepagan opened #165 "suggest how to handle a non-suitable project config app"
### Description

Been a craft dev for some time on mostly v2 apps and some early v3s though only recently updated a handful to 3.6.* and found this is not obvious enough.

After going on a wild goose chase finding old search results for a deprecated config setting https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#public-properties

I believe the correct thing to do is to gitignore t

[2021-03-04 22:42] mattstein commented on #165
@joepagan I’m a little confused—you linked to the Project Config page in the Extending Craft section dealing with custom plugins and modules.

It sounds like you’re referring to the deprecated `useProjectConfig` setting and not having the Craft instance—as opposed to your plugin or module—write project config YAML. If that’s the case, you’re probably looking for this: https://craftcms.com/docs/3.x

[2021-03-05 17:35] joepagan commented on #165
Hey @mattstein sorry I probably wasn't clear enough.

**My situation**

I've recently updated a craft3 site which didn't have project-config, that site has a custom plugin where dynamic values are stored in the plugin's fields, so I have realised that project config is not a viable option for this application. I didn't build. this app or the plugin so not going to have the knowledge about how it w

[2021-03-05 18:22] mattstein commented on #165
Thanks for clarifying, @joepagan.

For **plugins and modules**, project config is an opt-in choice for how data is stored. A plugin can use its own database tables, for example, that never touch project config—and that may or may not be a good idea depending on the use case. But that’s what custom plugins and modules choose to do with project config.

**Craft** relies on project config no matter w

[2021-03-08 20:02] mattstein commented on #164
Thanks for the suggestion @narration-sd!

We just updated this page to include minimum and recommended Docker resource settings for Docker Desktop: https://craftcms.com/docs/nitro/2.x/

[2021-03-08 20:02] #164 closed, assigned to mattstein

[2021-03-08 22:33] narration-sd commented on #164
Great, Matt - just what was needed!

Thanks much, Clive

[2021-03-10 09:16] jamesmacwhite opened #171 "Additional documentation for WSL2 with limiting max RAM usage?"
### Description

WSL2 likes to eat RAM, probably because it has been hanging around with Google Chrome too much! More recently the behaviour in WSL2 changed to allow WSL2 VMs to use exactly half of the total RAM on the host (before it would be 80%). However, this can still be too much when you have certain hosts with lower RAM capacity to begin with.

https://github.com/microsoft/WSL/issues/4166
h

[2021-03-10 10:25] MattWilcox opened #170 "`nitro complete` instructions do not work on macOS"
### Description

Documented option for `nitro complete` on BigSur does not work.
https://craftcms.com/docs/nitro/2.x/commands.html#completion

[code]

It's assuming directories exist when they do not?

- Nitro 2
- OSX 11.2.2

[2021-03-10 14:06] jasonmccallister commented on #171
This is great to know, thank you @jamesmacwhite!

@mattstein is this something we should mention in the documentation?

[2021-03-10 14:09] mattstein commented on #171
Seems like it’d be ideal to mention this on the Nitro+Windows page. Will do, thanks @jamesmacwhite!

[2021-03-10 18:11] #171 closed, assigned to mattstein

[2021-03-10 22:16] mattstein commented on #170
Thanks for the issue @MattWilcox! You’re right; I was able to reproduce this and I’m wondering if you can confirm the fix.

1. Make sure `autoload -U compinit; compinit` appears—only once—in your `~/.zshrc`.
2. Run `mkdir -p "${fpath[1]}"` to safely ensure that your completions path (`/usr/local/share/zsh/site-functions`) exists.
3. Retry `nitro completion zsh > "${fpath[1]}/_nitro"`.
4. Start a n

[2021-03-11 09:49] MattWilcox commented on #170
[code]

First command works when sudo.
Second command fails even with sudo.

[code]

[2021-03-11 14:18] MattWilcox opened #173 "Doc enhancement for VSCode users"
### Description

https://craftcms.com/docs/nitro/2.x/xdebug.html#configuring-vs-code

setting up XDebug in Nitro for VSCode... Step2; create a Launch Configuration...

If you've never done this before you have no idea what a Launch Configuration is. Could we please link to https://code.visualstudio.com/docs/editor/debugging#_launch-configurations or explain that this means "make a file called laun

[2021-03-11 14:55] mattstein commented on #170
Well that’s not great. I’m not sure where completion directories *need* to live, though mine’s apparently `~/.zsh/completion` and I’m guessing this is why the permissions are fine for me.

Do you have other completions working in Zsh?

FWIW I’ve set up [p10k](https://github.com/romkatv/powerlevel10k) and [oh-my-zsh](https://ohmyz.sh/) on a fairly recent+fresh Big Sur install and my only `fpath` re

[2021-03-12 01:42] mattstein commented on #173
Thanks @MattWilcox! Added a link and tip along with a quick screenshot—the UI offers the quickest way to get that initial `launch.json` in place and you can use or ditch those initial `"configurations"` objects it adds for you.

[2021-03-12 12:08] MattWilcox commented on #170
I have not set up any completions, and other than adding some alias' the only other thing I've done with ZSH is installed the Spaceship prompt, so my .zshrc contains some Alias's and this:

[code]

Otherwise it's essentially a blank file and stock BigSur.

[2021-03-12 14:13] MattWilcox commented on #173
Sorry Matt, the code as provided in the docs does not work!

This is what is actually needed...

[code]

Though while this does (finally) get activity in the Debug panel, something was not right as when a breakpoint is hit the following was thrown as an error...

[code]

The path mapping is wrong. My VSCode workspace root is NOT the Craft root. My Craft stuff is a subfolder of my VSCode workspace,

[2021-03-12 14:18] mattstein commented on #173
Oh no, that's 100% my fault; definitely tested but neglected to consider how others might structure projects. Will note the importance of that path map—thank you for your patience and perseverance here!

[2021-03-12 14:21] MattWilcox commented on #173
No worries Matt, as ever very grateful for the work you all put in. I'm _totally_ new to debugging, but with the above have got it to work in VSCode! Now to learn how to use it... ha!

[2021-03-12 15:21] mattstein commented on #170
Thank you! I need to do some digging and experimenting but I’ll be back.

[2021-03-12 18:39] mattstein commented on #173
Added a bit more context and an alternate example. Embarrassingly enough, also replaced a VS Code variable that was deprecated. 😬

https://github.com/craftcms/docs/commit/4347b0b7ac3456d75af29b3fd6b18095ba13e706

[2021-03-12 18:39] #173 closed, assigned to mattstein

[2021-03-13 13:05] piotrpog opened #174 "Make anchor links work without JS"
Very often when i open docs and click some anchor link, i have to wait few seconds until JS loads and page animates to my desired section. Sometimes even when i enter docs from google and already land on specific section of document, after JS loads im automatically scrolled to top. It is very annoying.

[2021-03-16 17:56] olets opened #175 "Nitro docs imply that mainline Docker Desktop will work with M1 computers"
### Description

https://craftcms.com/docs/nitro/2.x/installation.html says that macOS users will be able to use the Docker Desktop available at https://www.docker.com/products/docker-desktop. In fact M1 users must use the Tech Preview which has a separate download page.

### Steps to reproduce

n/a

### Additional info

n/a

[2021-03-16 18:18] olets opened #177 "nitro docs' homebrew docker desktop command is outdated"
### Description

The Nitro docs say to use

[code]

but the preferred command is now

[code]

### Steps to reproduce

1. Try `brew install docker --cask`

### Additional info

n/a

[2021-03-17 10:56] jamiematrix opened #179 "_includes/forms macro documentation"
### Description
I'm trying to look for any form of documentation to use the `forms.` macros within `_includes/forms` but am unable to find any.

Looking through the Twig itself I can kind of see what fields and attributes are available, but not all of them match up e.g. there's a 'name' when rendering a field, but no attribute of 'name' in `_includes/field.html` (guessing it translates to 'id' ins

[2021-03-17 11:09] jamiematrix commented on #179
If OK, I may start documenting it myself then will do a pull request when ready?

[2021-03-17 16:05] brandonkelly commented on #179
Kindof a duplicate of #8.

[2021-03-17 16:26] mattstein commented on #170
Fix in Nitro [should be along shortly](https://github.com/craftcms/nitro/issues/295#issuecomment-800679439) so this will work as advertised!

@MattWilcox From testing, I’m fairly confident you need to set a Zsh completion path you have permissions to write and execute—so that setup snag may be a separate issue altogether. (There’s no single, recommended directory so we can’t be too prescriptive in

[2021-03-17 16:33] MattWilcox commented on #170
Thanks Matt; will take a look at that issue and see if it's just config weirdness. Looking forward to the release.

[2021-03-17 18:19] jpwdesigns opened #180 "Documentation inconsistent with db/backup usage"
### Description
According to this https://craftcms.com/docs/3.x/console-commands.html#backup I should be able to specify a path for the database backup from command line. However it doesn't work. I get this error message:

`Error: Unknown option: --path. Options available: --color, --interactive, --help, --silentExitOnException, --zip, --overwrite`

### Steps to reproduce

1. php craft db/backup -

[2021-03-17 18:34] jpwdesigns commented on #180
Did some more digging. According to the command line output the documentation should read that the usage is:
`php craft db/backup [path] [...options...]`

So what it should look like is:

`php craft db/backup /var/www/somepath`

Basically the documentation is out of date with the implementation. Not really a bug.

[2021-03-17 20:56] #177 closed, assigned to nobody

[2021-03-17 21:40] #175 closed, assigned to nobody

[2021-03-18 05:01] michaelroper opened #181 "Can't select element text if it's a H4"
### Description

It looks like there is a `user-select: none;` style applied to `<h4>` elements in the docs that prevents selecting things like the `utils/repair/section-structure` line in this image:

![image](https://user-images.githubusercontent.com/60287/111575604-b80e3280-87e9-11eb-8190-d18f11ed006a.png)

![image](https://user-images.githubusercontent.com/60287/111575609-bba1b980-87e9-11eb-8e

[2021-03-18 14:09] mattstein commented on #181
Yikes! There was some real shoddy scoping in a totally unrelated footer component. Thank you for pointing this out and apologies for the blunder.

[2021-03-18 14:09] #181 closed, assigned to mattstein

[2021-03-18 14:16] mattstein commented on #170
FWIW I just merged an update for the [`completion`](https://craftcms.com/docs/nitro/2.x/commands.html#completion) command documentation that should be easier to follow. That combined with the Zsh fix in [Nitro 2.0.6](https://github.com/craftcms/nitro/releases/tag/2.0.6) should resolve this issue.

[2021-03-18 14:16] #170 closed, assigned to mattstein

[2021-03-18 20:41] #180 closed, assigned to mattstein

[2021-03-18 20:52] mattstein commented on #180
Thanks @jpwdesigns!

[2021-03-19 11:51] MattWilcox commented on #170
Got that working, thanks... the permissions for the fpath folders are all root by default, and so too was the additional fpath folder created by the Spaceship Prompt installation. I changed the owners on the folder and was able to add _nitro at ~/.zfunctions

It's possible that assuming $fpath[1] is writable or predictable might be a little problematic.

[2021-03-19 18:57] mattstein commented on #170
That’s weird @MattWilcox—I’m 80% sure I blindly followed instructions setting up Oh My Zsh and Powerlevel10k and my completion path is owned by `myuser:staff` and not `root`.

The underlying completion library [recommends this `$fpath[1]` approach](https://umarcor.github.io/cobra/#shell-completions), and you *might* be able to get away with adding `source <(nitro completion zsh)` to your profile b

[2021-03-23 10:18] peteeveleigh opened #183 "Size of sidebar and text"
This seems really picky but could the sidebar of the Class Reference docs be made slightly wider and the font made slightly smaller?
Currently it's looking like:
![Screenshot 2021-03-23 at 10 12 47](https://user-images.githubusercontent.com/827065/112130969-ee202d80-8bc0-11eb-982d-69a689eb716a.png)

With a small tweak to give the sidebar a width if 25rem and the .sidebar-heading class a font-size:

[2021-03-23 10:20] peteeveleigh commented on #183
I've just seen that this repo doesn't include the Class Reference docs but I don't know where I should request a change to those.

[2021-03-23 19:41] MattWilcox commented on #174
TBH, this "documentation as an app" thing is a really bad trend I see with lots of tech companies. The WWW was built to handle text heavy content, and it has a lot of tooling to make that work well at every level of the stack; from server to browser. Then you get these JS app based monstrosities which work great on a good connection on a fast machine... but like garbage on anything else.

I can't

[2021-03-24 15:01] mattstein commented on #183
You’re right on both counts: that sidebar text does fit better, and this repo’s a different thing. The class reference uses [pixelandtonic/vuepress-theme-craftdocs](https://github.com/pixelandtonic/vuepress-theme-craftdocs), and apparently one cannot transfer an issue across organizations.

So I did some old-fashioned copy-and-paste kung foo: https://github.com/pixelandtonic/vuepress-theme-craftdo

[2021-03-24 15:02] #183 closed, assigned to nobody

[2021-04-02 15:32] mattstein commented on #137
The latest 3.3 hotness is here: https://github.com/craftcms/docs/pull/189

[2021-04-02 15:32] #137 closed, assigned to nobody

[2021-04-05 21:47] lindseydiloreto opened #192 "Requesting a clear and comprehensive list of "dev-sounding" subdomains"
In the knowledgebase, there is a page regarding License Enforcement. On it is an important section regarding ["How do we determine Craft is running on a public domain?"](https://craftcms.com/knowledge-base/how-craft-license-enforcement-works#how-do-we-determine-craft-is-running-on-a-public-domain)

<img width="898" alt="How do we determine Craft is running on a public domain?" src="https://user-im

[2021-04-06 00:07] mattstein commented on #192
We unearthed the complete Step 4 list from the Vault of Secrets, where there were only a handful of additional dev-sounding subdomains. (And they’re not very exciting.)

Updated [the page](https://craftcms.com/knowledge-base/how-craft-license-enforcement-works#how-do-we-determine-craft-is-running-on-a-public-domain) to _exhaustively_ list those subdomains and added a link to the comprehensive list

[2021-04-06 00:07] #192 closed, assigned to mattstein

[2021-04-06 17:58] lindseydiloreto commented on #192
Excellent, thanks @mattstein! 🍺

[2021-04-07 17:03] mattstein opened #193 "Document common Nitro front end development configuration"
### Description

Nitro [exposes ports 3000 and 3001](https://craftcms.com/docs/nitro/2.x/node.html#configuring-node-server-ports) for allowing in-container node servers to talk with browsers on the outside. How you’d use this in your setup depends on the details of your setup, so it’d be ideal to have one or more Knowledge Base articles covering the details of common Craft front end development se

[2021-04-07 18:45] ademers commented on #193
Based on what I've seen in the Craft Discord, many people, myself included,  are using Laravel Mix + Twigpack. Thanks for your consideration!

[2021-04-09 14:31] kevinmu17 commented on #193
Bare minimum with only webpack + HMR configured together with AssetRev or twigpack.

[2021-04-18 01:36] xyeLz opened #197 "Would it be possible to modify the way the left scroll bar and drop down menus look?"
The theme is fantastic, but the left scrollbar and drop down menus still render in an ugly box format, despite whether I use Edge, Chrome, or Firefox. Would it be possible to update this to be more modern?

[2021-04-23 15:03] mattstein commented on #174
Thanks for the issue @piotrpog!

We’ve made improvements to fix a number of scroll issues that seem to have helped. Are you able to get this one down to a reproducible set of steps?

[2021-05-03 13:46] mattstein opened #209 "Anchor links within tables don’t scroll to target content in Firefox"
### Description

Anchor scroll behavior is inconsistent specifically in Firefox. (With this issue, behavior is fine in Chrome, Safari, and Edge.)

Choosing an anchor link that’s inside a table in the page content will update the browser URL without scrolling to page content as expected. In the case of the [Controller Actions](https://craftcms.com/docs/3.x/dev/controller-actions.html) pages, choosi

[2021-05-03 22:59] mattstein commented on #209
Related: https://github.com/vuepress/vuepress-community/issues/71

Seems to be an issue with smooth scrolling in Firefox. Disabling the `scroll-behavior: smooth` property immediately has anchor links working again in this project:

[code]

Prior to that change it had helped to switch from bare anchors like `[foo](#foo)` to include the page like `[foo](current-page.md#foo)`—but results were inconsi

[2021-05-04 07:35] lukeholder opened #210 "Add example of line item options using donation purchasable"
### Description

Maybe add an example of options usage with a donation purchasable here:  https://craftcms.com/docs/commerce/3.x/orders-carts.html#line-item-options-and-notes

Or add an option to the donation example: https://craftcms.com/docs/commerce/3.x/donations.html#adding-the-donation-to-the-cart

Context: https://github.com/craftcms/commerce/issues/2115

[2021-05-07 07:43] MattWilcox opened #213 "Clarify the docs for "displaying entries related to a category""
### Description

https://craftcms.com/knowledge-base/displaying-entries-related-to-a-category

Nothing here is wrong, but it does not specify this code works only on a Category page, and is written such that you could easily interpret the "subject" of the article being an Entry and not a Category. It's not specified how "this category" is defined.

Someone in Discord was expecting this to work on

[2021-05-07 13:59] mattstein commented on #213
Thanks for this, @MattWilcox!

I just [updated that page](https://craftcms.com/knowledge-base/displaying-entries-related-to-a-category) to clarify the context for that first example, add another for _selecting_ the category with a link to querying categories, and for completeness one more demonstrating category selection via field handle—again linking to the relevant docs.

I’m hoping this elimina

[2021-05-07 13:59] #213 closed, assigned to mattstein

[2021-05-12 14:27] carstenjaksch opened #215 "[Safari] No redirects in same tab"
### Description

On [Core Concepts](https://craftcms.com/docs/commerce/3.x/core-concepts.html), the links _Adjusters_ and _Events_ do not redirect on normal click and throw a 404.

Opened in a new tab or reloading the 404 page and the redirects to `extend` work as expected.

Tested in latest Safari and Chrome. Only the latter works in both cases.

### Steps to reproduce

1. Go to [Core Concepts](h

[2021-05-13 15:04] mattstein commented on #215
How bizarre. Thanks for pointing this out, @cajakre!

[2021-05-21 21:35] siebird opened #219 "Fixed header in documentation for easy searching"
A nice little UI feature would be to fix the header to the top of the screen when viewing documentation so users do not have to scroll all the way back up to perform a search.

[2021-05-22 00:56] proimage commented on #193
To date, we've been using Craft + Laravel Mix + the [Mix plugin (by mister bk)](https://github.com/mister-bk/craft-plugin-mix). I might have to check out this Twigpack of which y'all speak, but first: getting Nitro working on Windows! 🤢

[2021-05-25 18:11] mattstein commented on #219
You don’t have to scroll all the way back up a page to perform a search: you can press <kbd>/</kbd> at any point to focus on the search field.

We removed the fixed header to give more space to the content you’ll presumably spend more time with, but left a hint about this shortcut:

![Screen Shot 2021-05-25 at 01 05 46 PM@2x](https://user-images.githubusercontent.com/2488775/119546910-0d227380-bd5

[2021-05-25 18:11] #219 closed, assigned to nobody

[2021-05-25 18:20] siebird commented on #219
I saw that and think it works well for those that navigate with keys. The animation IMO is too slow on very long pages. I still feel a fixed header is a good compromise for those that navigate with a mouse. I was looking for something specific when this came up the other day which made it cumbersome scrolling back up. Not a big deal–just a nice little touch

[2021-05-25 18:37] mattstein commented on #219
The animation honors [`prefers-reduced-motion`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion), but doesn’t account for the time it’d take to scroll back to the top of the page. I could see that being one of the things to improve here.

I think bringing back the fixed navigation would re-introduce more visual noise to compete with the page content. Someone suggeste

[2021-06-09 08:40] johnwbaxter opened #227 "samesitecookievalue in the docs should have "None" as an option added, perhaps to replace Null?"
On your docs here, https://craftcms.com/docs/3.x/config/config-settings.html#samesitecookievalue you mention that 'Lax', 'Strict', or null are the only options here. However, in my use case of craft ajax calls from within an iframe on a sharepoint site (I know, it made me throw up a bit too, please don't judge me, they made me do it or my family would get tortured), i had to set the samesitecookie

[2021-06-24 03:53] michvhf opened #231 "Improve “Installation”"
I have a suggestion for https://craftcms.com/docs/3.x/installation.html
"If it was successful, Craft will redirect your browser to the control panel."    What if it wasn't??  I'm looking at a 404 error when trying to get to the control panel.

[2021-06-25 22:34] mattstein commented on #231
Thanks for pointing this out, @michvhf!

I’m not sure if it’s relevant for you, but it seems like there’s [a bug](https://github.com/craftcms/cms/issues/9081) that may send Craft redirects to `/dashboard` instead of `/admin/dashboard` and result in a 404.

Regardless, we’ve updated the [Installation](https://craftcms.com/docs/3.x/installation.html) instructions and included a troubleshooting secti

[2021-06-25 22:34] #231 closed, assigned to mattstein

[2021-06-25 22:43] michvhf commented on #231
It turned out to be a re-direct issue on my end.  Options
+FollowSymlinks needed to be added to make it work and that had to be
done in the apache config, it didn't work in .htaccess

Thanks!
Vince.

On 06/25/2021 06:34 PM, Matt Stein wrote:

--
   K8ZW  http://www.metalworkingfun.com   http://www.hamradio.fun
                 Buy/Sell/Swap cheap test equipment at
                https://groups.io

[2021-07-04 04:29] llanito opened #236 "Improve “Installation”"
1. The working is ambiguous
2.
Step 5: Set up the Web Server
Create a new web server to host your Craft project. Its document root (or “web root”) should point to your web/ directory (or whatever you’ve renamed it to).

The reference to web/ directory should explicitly refer to "Craft CMS install web directory" rather than "your web" directory which means nothing really.

I have a suggestion for h

[2021-07-05 14:09] mattstein commented on #236
Thanks for the feedback, @llanito.

I’m struggling to understand what could be improved here. In the [Directory Structure](https://craftcms.com/docs/3.x/installation.html#directory-structure) section further up the page we look at the files you’ll get for a default Craft install, specifically calling out that `web/` folder:

<img width="740" alt="Screen Shot 2021-07-05 at 08 59 40 AM@2x" src="http

[2021-07-08 16:24] #227 closed, assigned to nobody

[2021-07-09 22:43] mattstein commented on #9
Closed by https://github.com/craftcms/docs/commit/1209a77a06b0be98b262bde558038c0b90840883. 🎉

[2021-07-22 05:15] lukeholder opened #241 "Updates for orders' shipping method 3.x"
An update top "Fetching a Cart’s Shipping Method"

https://craftcms.com/docs/commerce/3.x/extend/shipping-methods.html#fetching-a-cart-s-shipping-method

### Description

Craft no longer sets the default (cheapest) shipping method when calling `order.getShippingMethod()`. That can statement be removed. It did not make sense for the method to set the default since it would also not save the selecti

[2021-07-22 11:08] lukeholder opened #242 "Improve order and line item totals attribute information"
Not sure where this should go. Likely on the https://craftcms.com/docs/commerce/3.x/orders-carts.html page

## order.total

`order.total` = `order.itemSubtotal` + `order.adjustmentsTotal`

### order.itemSubtotal

The sum of each `lineItem.subtotal`

### order.adjustmentsTotal

The sum of each `adjustment.amount` belonging to the order

<hr>

## order.itemTotal

The sum of each `lineItem.total` amo

[2021-07-22 13:32] mattstein commented on #36
Relevant Stack Exchange answer: https://craftcms.stackexchange.com/a/38046/22

[2021-07-23 22:22] #241 closed, assigned to nobody

[2021-07-23 22:23] mattstein commented on #241
Updated! Decided against pointing out `order.getShippingMethod().name` as less performant since I’m not sure what benefit it would have over a solid, simple recommendation as you put it.

[2021-07-26 08:59] darylknight opened #243 ""Creating an ​“Archive” Page for Entries" no longer works"
Partway down [this page](https://craftcms.com/knowledge-base/creating-an-archive-page-for-entries), it refers to this code example:

[code]

This no longer outputs any results. Looking through [the docs](https://craftcms.com/docs/3.x/entries.html#before), `.after` and `.before` require either a `dateTime` object, or a string formatted as `YYYY-MM-DD`:

I think that article needs to be amended to s

[2021-07-26 15:54] mattstein commented on #243
Thanks @darylknight! Someone also pointed this out in Discord—will get this sorted and follow up.

[2021-07-26 17:25] mattstein commented on #242
Thanks @lukeholder!

I added these to the [Orders & Carts](https://craftcms.com/docs/commerce/3.x/orders-carts.html) page in their respective sections:

- Orders → [Order Totals](https://craftcms.com/docs/commerce/3.x/orders-carts.html#order-totals)
- Carts → [Line Item Totals](https://craftcms.com/docs/commerce/3.x/orders-carts.html#line-item-totals)

I’m thinking those fit best contextually.

I

[2021-07-26 17:25] #242 closed, assigned to mattstein

[2021-07-27 14:49] mattstein commented on #243
Craft [3.7.6 is out](https://github.com/craftcms/cms/blob/main/CHANGELOG.md#376---2021-07-27) with a fix for this. Thanks again @darylknight!

[2021-07-27 14:49] #243 closed, assigned to mattstein

[2021-09-21 15:42] CaitlinWeb opened #251 "Documentation: previewTokenDuration not present in Class Reference and not working"
### Description

On the General Config documentation page there is a setting defined called [`previewTokenDuration`](https://craftcms.com/docs/3.x/config/config-settings.html#previewtokenduration). However, [in the class reference there is no setting with that name](https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#property-previewtokenduration).

I set this value to an integer (in

[2021-09-21 19:11] mattstein commented on #251
Sorry for the confusion, @CaitlinWeb!

The `previewTokenDuration` config setting was [added in Craft 3.7.0](https://github.com/craftcms/cms/blob/main/CHANGELOG.md#370---2021-07-13), specifically so [preview durations could be separate from other site security settings](https://github.com/craftcms/cms/issues/2394).

So `defaultTokenDuration` is the correct setting for Craft 3.6.15.

Lastly, the cla

[2021-09-21 19:11] #251 closed, assigned to nobody

[2021-09-23 16:37] CaitlinWeb commented on #251
Thank you for clarifying, @mattstein! Makes sense. When we upgrade to 3.7 `previewTokenDuration` will be very useful!

[2021-10-01 02:51] lukeholder opened #252 "Add docs for new `autoSetCartShippingMethodOption` setting"
### Description

`autoSetCartShippingMethodOption` setting added to commerce 3.4.next

[code]

default false.

[2021-10-01 17:26] mattstein commented on #252
Ready to roll @lukeholder, thank you! (Assuming this will be in Commerce 3.4.4.)

[2021-10-07 17:01] #252 closed, assigned to mattstein

[2021-10-08 02:36] nirali35 opened #254 "Uncaught Error: Cannot find module 'ansi-html'"
### Description
There seems to be some problem running this project. This following error is shown in the browser console. This is while trying to run the project as is without any modification on a macOS.
[code]

### Steps to reproduce
1. npm i
2. npm run docs:dev
3. Open localhost:8080/docs

Actual: Notice nothing renders on the page and the console shows the above error.
Expected: Load the home

[2021-10-08 02:37] nirali35 commented on #254
@mattstein you may have an insight on this

[2021-10-08 18:05] mattstein commented on #254
I’m able to run everything fine locally—are you using node 14? (Specified in [.nvmrc](https://github.com/craftcms/docs/blob/main/.nvmrc) but easy to miss.)

[2021-10-08 23:31] nirali35 commented on #254
Yes, I am using node 14.16.0. And I see this issue on two different machines. Are you able to try running it after reinstalling your packages? Thanks

[code]

[2021-10-11 16:16] mattstein commented on #254
I can definitely reproduce the problem on two different machines—working on untangling dependencies and will follow up when I can get to the bottom of it.

[2021-10-11 22:10] mattstein commented on #254
@nirali35 Would you mind checking out https://github.com/craftcms/docs/tree/feature/prune-dependencies and letting me know if you can build and run that successfully?

[code]

Should be able to...

1. `npm run docs:dev` and visit https://localhost:8080 to see working, error-free docs in browser.
2. `npm run docs:build` successfully, which should end rendering sitemap pages:
[code]

[2021-10-12 21:55] nirali35 commented on #254
@mattstein that fixed it! Thx

[2021-10-12 21:58] #254 closed, assigned to mattstein

[2021-10-20 08:34] lukeholder opened #258 "Rename 'build' to 'dist' in example templates page"
[code]
should be
[code]
in
https://craftcms.com/docs/commerce/3.x/example-templates.html

[2021-10-20 08:34] lukeholder commented on #258
Will be in next commerce release

[2021-10-29 19:10] acalvino4 opened #264 "Documentation on integrating with Events is lacking."
### Description
As a new craft developer, I can't seems to find good instructions on how to hook into the the craft lifecycle by searching for 'hook' or 'event' as shown in below screenshots. None of the search results are really about lifecycle hooks.

![image](https://user-images.githubusercontent.com/43254861/139487221-47cb5caa-b354-47eb-9928-990bae8ff812.png)
![image](https://user-images.githu

[2021-11-01 17:49] mattstein commented on #264
Thanks for calling this out, @acalvino4! There are a _lot_ of events you can take advantage of with Craft 3, along with some conditions to be aware of specifically for elements. We happen to finally be working on this right now, not _exactly_ in the format you’ve proposed but it should tick all the boxes here. I’ll leave this issue open with the hope of resolving it in the near future.

[2021-11-01 21:01] acalvino4 commented on #264
Thanks Matt!

[2021-11-03 16:46] AugustMiller commented on #264
For folx coming in new—something that I often forget is that events in Craft are almost entirely a Yii concept, so part of the challenge in the learning + discovery phase is figuring out what events are inherited from Yii classes, vs. what Craft provides. Yii alone has [164 "eventable" subclasses](https://www.yiiframework.com/doc/api/2.0/yii-base-component)!

An example I think of pretty frequentl

[2021-11-03 17:03] mattstein commented on #264
The sheer number of events means an exhaustive, hand-edited page is hilariously unfeasible. But we’ll have something sensible to publish soon.

[2021-11-17 16:59] #258 closed, assigned to mattstein

[2021-11-17 17:01] mattstein commented on #236
Closing since I’ve not heard back, but happy to return to this if I can understand the problem!

[2021-11-17 17:01] #236 closed, assigned to nobody

[2021-12-06 20:09] mattstein commented on #60
Just launched a new Events page here: https://craftcms.com/docs/3.x/extend/events.html

[2021-12-06 20:09] #60 closed, assigned to nobody

[2021-12-06 20:10] mattstein commented on #264
Just launched a new Events page here: https://craftcms.com/docs/3.x/extend/events.html

[2021-12-06 20:10] #264 closed, assigned to mattstein

[2021-12-21 11:20] #1 closed, assigned to angrybrad

[2021-12-21 11:20] #3 closed, assigned to nobody

[2021-12-21 11:20] #5 closed, assigned to mattstein

[2021-12-21 11:20] #6 closed, assigned to nobody

[2021-12-21 11:20] #14 closed, assigned to nobody

[2021-12-21 11:20] #15 closed, assigned to nobody

[2021-12-21 11:20] #16 closed, assigned to nobody

[2021-12-21 11:20] #17 closed, assigned to nobody

[2021-12-21 11:20] #31 closed, assigned to nobody

[2021-12-21 11:20] #33 closed, assigned to nobody

[2021-12-21 11:20] #48 closed, assigned to nobody

[2021-12-21 11:20] #53 closed, assigned to nobody

[2021-12-21 11:20] #61 closed, assigned to nobody

[2021-12-21 11:20] #75 closed, assigned to nobody

[2021-12-21 11:20] #117 closed, assigned to nobody

[2021-12-21 11:20] #193 closed, assigned to nobody

[2021-12-21 11:20] #210 closed, assigned to nobody

[2022-01-26 13:30] trevorjpuckett opened #320 "Improve “Plugin Development”"
I have a suggestion for https://craftcms.com/docs/2.x/plugins/:
this page is literally empty at the time i am looking at it.

I also cant seem to find any documentation on tasks for 2.x

[2022-01-26 22:02] mattstein commented on #320
That’s an empty page, alright! 🤦‍♂️

Do you recall how you wound up there, @trevorjpuckett? The _Plugin Development_ sidebar link should land you directly at the Introduction page of that section.

We don‘t have tasks covered in the 2.x documentation, but Brandon’s answer on Stack Exchange will probably be useful if you haven’t seen it already: https://craftcms.stackexchange.com/a/14532/22

[2022-02-24 12:00] jamiematrix opened #335 "plugin/enable and plugin/disable have same example"
I was looking how to enable a plugin via CLI and found the example for `craft php plugin/enable` and `craft php plugin/disable` have the same example console messages.
[Disable](https://craftcms.com/docs/3.x/console-commands.html#plugin-disable) | [Enable](https://craftcms.com/docs/3.x/console-commands.html#plugin-enable)

[2022-02-24 14:47] mattstein commented on #335
Whoops! Just fixed this @jamiematrix, thank you for pointing that out.

[2022-02-24 14:47] #335 closed, assigned to mattstein

[2022-02-24 15:06] mattstein commented on #174
Closing since it’s been a while without any follow-up, but please let me know if this is still an issue and there are steps I can take to reproduce it.

[2022-02-24 15:06] #174 closed, assigned to nobody

[2022-03-06 20:57] mmikkel opened #342 ""assignUserGroup:[GroupUID]" permission missing"
### Description

Noticed that the `assignUserGroup:[GroupUID]` permission is missing from https://craftcms.com/docs/3.x/user-management.html#permissions. It should probably be there?

[2022-03-07 16:51] mattstein commented on #342
I agree, and I found a few more that were missing—just fixed. Thanks @mmikkel!

[2022-03-07 16:52] #342 closed, assigned to mattstein

[2022-03-10 17:21] wsydney76 opened #346 "[4.0.0-beta.1] Replacements for 'cp.entries.edit.details' hook and draftEditor.on('createProvisionalDraft') js event"
### Description

Not really a bug, but maybe some missing info in the upgrade guides.

Upgrading plugins/modules went very smoothly so far, just one thing i couldn't figure out in entries edit pages:

In 3.7, we are adding custom buttons to the end of the sidebar via the now removed hook `cp.entries.edit.details`.

![image](https://user-images.githubusercontent.com/60010597/157716791-1cd3f378-98a1

[2022-03-11 17:59] mattstein commented on #346
Good news! You shouldn’t have to change your `Element::EVENT_DEFINE_SIDEBAR_HTML` approach—Craft 4 [was just updated](https://github.com/craftcms/cms/commit/0a2c6183c955b238a2c34f2303d8cadc7baee1bd) to place that HTML at the end of the sidebar so it’s closer to existing behavior with Craft 3.

That `createProvisionalDraft` event still exists, but you’ll need to access the element editor at `Craft.

[2022-03-18 09:59] bencroker opened #352 "Registering user permissions in 4.0.0"
How permissions are registered has changed in Craft 4 and should perhaps be added to the plugin update guide at https://craftcms.com/docs/4.x/extend/updating-plugins.html

Before:
[code]

After:
[code]

Reference:
https://github.com/craftcms/cms/blob/b00f03ea44b4e4439038c50d7da1a6825cd4fe05/src/services/UserPermissions.php#L59-L62

[2022-03-18 15:31] #352 closed, assigned to mattstein

[2022-03-18 15:31] mattstein commented on #352
Thanks @bencroker!

[2022-03-19 11:32] wsydney76 opened #353 "[4.0 Upgrade guide] Document incompatible behavior when checking for eager loading elements"
### Description

Stumbled over a subtle incompatibility  when checking for the existance of eager loaded elements

[code]

So if you just check against a variable `eagerLoadedSomething` (which the [Twig docs](https://twig.symfony.com/doc/2.x/tags/if.html) say how it should be done), it used to evaluate to `false` for an empty array, and will now always be `true` for a collection object.

That's a

[2022-03-21 20:15] mattstein commented on #353
Thanks for pointing this out, @wsydney76! Looks like `.count()` and `|length` are both safe. Noted in the upgrade guide.

[2022-03-21 20:15] #353 closed, assigned to mattstein

[2022-03-22 12:58] watershed opened #354 "Add nitro init guidance on MariaDB / MySQL"
### Description

I'm setting up a new MacBook and have reinstalled Nitro, but I was thrown by MySQL not being an option in an Apple Silicon environment, and `nitro init` expecting to me to just know what to do instead.

I _think_ I’m in the right direction with [this tweet](https://twitter.com/schofeld/status/1506234949380329472?s=20&t=rvAIhCs4Yf3C_v9F3BfOQw).

It would be good, I feel, if the [in

[2022-03-24 20:55] peteralewis opened #355 "Improve “Tax”"
I have a suggestion for https://craftcms.com/docs/commerce/3.x/tax.html

This gives no help on displaying or calculating tax and no links to further documentation, it only covers theory of having multiple tax zones, but still doesn't offer any pointers to actually displaying tax pricing in a template.

This would be far more beneficial to include:
[code]

And talking about the tax rate and pricing

[2022-03-25 23:18] mattstein commented on #354
Sorry about that @watershed, I thought we clarified this but apparently I was wrong. Adding a prominent note!

Thanks for filing an issue.

[2022-03-25 23:19] #354 closed, assigned to mattstein

[2022-03-28 15:46] mattstein commented on #355
Thanks @peteralewis!

The tax page you linked to is meant to introduce the major pieces of Commerce’s tax system, where displaying tax information—as we demonstrate in the [example templates](https://github.com/craftcms/commerce/blob/develop/example-templates/src/shop/cart/index.twig#L233-L267)—is most common for the cart, where a number of factors (customer address, item pricing, promotions, etc.

[2022-03-28 20:05] peteralewis commented on #355
Hi @mattstein, this seems to be the only documentation in the standard guide/documentation and completely understand it is the grounding for how tax works, but it leaves the reader left with "yes, but how do I implement anything in templates...?", especially as the only template example is:

[code]

And to be honest, who would output that and what use would that be to a customer? I had to pick out

[2022-03-28 20:20] peteralewis commented on #355
For example....

![Screenshot 2022-03-28 at 21 17 05](https://user-images.githubusercontent.com/134265/160479970-53fad2d6-0916-40b0-a49f-5227cd3ea38f.png)

[code]

[2022-03-28 20:32] mattstein commented on #355
Got it @peteralewis, thank you!

I realize the “Templating” section on that Tax page is distinctly underwhelming, I just wanted to make sure I understood your goal with that specific example. We link to the example templates pretty liberally, but this is clearly a missed opportunity—in addition to some _currently lacking_ examples.

Thanks for taking the time to file the issue and elaborate. Will

[2022-03-28 20:36] peteralewis commented on #355
I'm assuming I could have used:

[code]

[2022-03-30 17:30] mattstein commented on #215
Hmm. Somebody fixed something, but it wasn’t me. No longer seeing this and closing since it’s magically resolved itself.

[2022-03-30 17:30] #215 closed, assigned to nobody

[2022-03-31 00:26] mattstein commented on #355
Unfortunately not, that’d land you with:

Because `.one()` is a method you’d use on an element query, and `allTaxRates()` returns an array. You could use the [`|first`](https://craftcms.com/docs/3.x/dev/filters.html#filter) filter, though:

[code]

You could also fetch the rates for a specific zone, if that helps narrow things, using `taxRatesForZone()` or `taxRatesByTaxZoneId()`:

[code]

Or get

[2022-03-31 22:52] mattstein commented on #355
Just published a significant update to the Tax page: https://craftcms.com/docs/commerce/3.x/tax.html

The Craft 4 version is nearly the same, but ready to go with the Tax Zone’s new Address Condition field: https://craftcms.com/docs/commerce/4.x/tax.html

This doesn’t literally demonstrate the example you gave, but each tax construct offers Twig + PHP API examples with class reference links so I h

[2022-03-31 22:52] #355 closed, assigned to mattstein

[2022-05-15 04:28] iuviene opened #366 "Improve “Finish setup”"
I have a suggestion for https://craftcms.com/docs/getting-started-tutorial/install/setup.html:

Improve the debugging guide for refused database connection.  I followed the guide and I can connect fine using a mysql client inside and outside of the container.  .env settings are correct.  Still can't get to the install screen.

Details:
Needs better debugging (or improved scripts) for fresh install

[2022-05-16 15:30] timoschwarzer opened #367 "Permissions section in docs wrong for 4.x"
It sems like the "User permissions" section, specifically the paragraph where all built-in permissions are listed (https://craftcms.com/docs/4.x/user-management.html#permissions), didn't get updated for Craft 4.x. Some permissions have been renamed. (https://craftcms.com/docs/4.x/extend/updating-plugins.html#changed-permissions)

[2022-05-16 21:20] mattstein commented on #366
Thanks for the issue @iuviene!

The `nitro create` command should edit your `.env` file for you, but there’s a [known issue](https://github.com/craftcms/nitro/issues/464) with Nitro and Craft 4 we should have a fix for shortly.

We also have two relevant Knowledge Base articles: one for [investigating failed installs](https://craftcms.com/knowledge-base/troubleshooting-failed-installation) and ano

[2022-05-16 21:31] #366 closed, assigned to mattstein

[2022-05-16 23:20] #367 closed, assigned to mattstein

[2022-05-16 23:20] mattstein commented on #367
Whoops, you’re right thank you. Just fixed!

[2022-05-25 04:22] ishitatsuyuki opened #371 "[4.x][doc]: @transform(immediately) is deprecated but still mentioned in the doc"
### What happened?

### Description

The `@transform(immediately)` functionality was removed in https://github.com/craftcms/cms/commit/fc10c5d29788f3b68e11da95e9a5f5e69ff9c3b9 but you still see the mentions in a few places like https://craftcms.com/docs/4.x/graphql.html#query. (Search "immediately" for more)

These confuses developers, and also the deprecation deserves a mention, instead of just p

[2022-05-25 21:09] mattstein commented on #371
This for this feedback, @ishitatsuyuki! I removed those two stale examples. We do briefly mention in the [upgrade guide](https://craftcms.com/docs/4.x/upgrade.html#graphql) that all GraphQL transforms are handled immediately.

[2022-05-25 21:09] #371 closed, assigned to mattstein

[2022-05-30 07:34] richhayler opened #377 "[4.x]: Requirements Link for iio/libmergepdf in Documentation"
### What happened?

### Description
On https://craftcms.com/docs/commerce/4.x/requirements.html the link to iio/libmergepdf is wrong and should be updated to: https://github.com/hanneskod/libmergepdf

### Craft CMS version
4.0.3

### Craft Commerce version
4.X

[2022-05-31 03:23] richhayler opened #372 "[4.x]: Money Field is Missing from the (left-hand) Field Type List in Craft 4 Docs"
### Description
https://craftcms.com/docs/4.x/money-fields.html

### Craft CMS version

4.0.3

[2022-05-31 16:55] #372 closed, assigned to mattstein

[2022-05-31 16:55] mattstein commented on #372
Thanks @richhayler!

[2022-06-09 08:09] nfourtythree commented on #377
Hi @richhayler

Thank you for bringing this to our attention. We will get this fixed.

Thanks!

[2022-06-09 16:34] angrybrad commented on #377
Fix is deploying now.

[2022-06-09 16:34] #377 closed, assigned to nobody

[2022-07-06 13:38] MoritzLost opened #385 "Code example for custom permissions is broken"
### Description

Looks like the structure of the permissions array got changed in Craft 4, and the documentation hasn't been updated yet.

The current example on the Craft 4 documentation for [User Permissions](https://craftcms.com/docs/4.x/extend/user-permissions.html) works in Craft 3 but produces an error in Craft 4:

[code]

This throws an error for me on both the user group settings page and

[2022-07-06 13:51] MoritzLost commented on #385
Nevermind, I found the [update instructions](https://craftcms.com/docs/4.x/extend/updating-plugins.html#user-permissions) which includes the correct syntax for Craft 4. I've [opened a PR](https://github.com/craftcms/docs/pull/386) instead to update the example code on the User Permissions page instead.

[2022-07-06 13:51] #385 closed, assigned to nobody

[2022-07-26 03:21] olets opened #397 "[4.x]: Site URL is set to the directory name, not what's entered during `composer create`"
### What happened?

### Description

When as documented in the tutorial https://craftcms.com/docs/getting-started-tutorial/install/ with the exception of using a custom name for the directory I was installing Craft in, the resulting site came out with the Site Url `https://<my directory>.ddev.site` not `https://tutorial.ddev.site`.

### Steps to reproduce

[code]

### Expected behavior

[code]

##

[2022-07-26 10:59] luke-nehemedia opened #396 "Improve “How to Build a Module”"
I have a suggestion for https://craftcms.com/docs/4.x/extend/module-guide.html

There are some mistakes here. Sometimes the namespace (bar) and plugin-id (foo) are mixed up I think.

For example, the `composer.json` entry should be:
[code]

with the plugin in `modules/bar/foo`.

Then, the `config/app.php` should be
[code]

[2022-07-27 23:06] #397 closed, assigned to nobody

[2022-07-27 23:06] #396 closed, assigned to nobody

[2022-07-27 23:32] brandonkelly commented on #397
If you specify any args to `ddev config` such as `--project-type` and `--php-version`, the command will be run non-interactively and assume the defaults for any other values. In the case of the project name, that will be the name of the directory.

I’ve just added a `--project-name=tutorial` arg to the suggested command, which should prevent anyone else from running into this if they happened to u

[2022-07-27 23:33] brandonkelly commented on #396
I think it was actualy correct (it suggested creating a `modules/foo/` folder to contain the module), it was pretty confusing. I’ve just swapped over to using `foo` everywhere.

[2022-07-31 13:40] mandrasch opened #401 "Intro to Craft CMS: Asset section not updated to Craft 4"
Hi,

just starting out with Craft CMS. Just wanted to let you know the following, guess already known:

The section https://craftcms.com/docs/getting-started-tutorial/configure/section.html#create-an-asset-volume has only a Craft v3 description and screenshot, in Craft v4 this was splitted into Assets and Volumes.

And just as optional personal feedback:
Personally I thought this was kind of confu

[2022-08-03 12:01] simonkuran opened #403 "The General Config Settings documentation doesn't mention the "fluent" syntax"
### Description
Since a fresh install of Craft now generates a general.php file with the fluent setter methods [the docs](https://craftcms.com/docs/4.x/config/config-settings.html) should document how they work, especially for more complex options like arrays for aliases.

### Additional info

- Craft version: 4.2.0.2
- PHP version: 8.1

[2022-08-07 22:23] piotrpog opened #405 "Codeception docs do not mention `codecept bootstrap` command"
This command is used to create base file structure of tests.

[2022-08-16 19:15] AugustMiller commented on #403
Thanks for the nudge! Still playing catch-up with a few 4.x features, so this is top-of mind.

💡 For anyone looking for some information in the interim, I strongly recommend reviewing [Fluent Multi-Environment Config](https://nystudio107.com/blog/fluent-multi-environment-config-for-craft-cms-4) by Andrew Welch, the original feature contributor!

[2022-08-16 19:18] AugustMiller commented on #401
Hey Matthias!

Thanks for the feedback. We're still crunching through some Craft 4.x updates, and have identified a number of places where the Tutorial lags the main documentation.

Please let us know if you hit roadblocks anywhere else—glad you've got such a keen eye, already!

[2022-08-29 10:06] nfourtythree opened #413 "Explain how to interact with controller actions via AJAX"
### Description
Since standardising (in Craft and Commerce 4) the return of success and failures in controller actions it would be handy to have a helpful hint on best practices and what to expect when submitting data and what is returned.

### Related Issues
https://github.com/craftcms/commerce/issues/2933

[2022-09-01 12:54] billmn opened #417 "Commerce 4: replace/remove `ownerId` reference on upgrading page"
### Description
In the Commerce 4 Upgrading page there is this sentence:
https://github.com/craftcms/docs/blob/e1f5eda39db0207a58a9ff998ceef9757e84ab15/docs/commerce/4.x/upgrading.md?plain=1#L289

This is the link to the docs:
https://craftcms.com/docs/commerce/4.x/upgrading.html#front-end-form-requests-and-responses

In Craft 4, the `users/save-address` action check the presence of `userId` field

[2022-09-08 17:23] yalamber commented on #29
@mattstein would it be possible to add how we can make these request in headless environment where our origins might be different domains or subdomains?

[2022-09-08 17:52] mattstein commented on #29
@yalamber Seems like that’d be a matter of configuring CORS appropriately so the browser is cool with it. (Which would also be relevant for live preview and other aspects of using Craft CMS or Craft Commerce.) Might be useful to take a look at this Knowledge Base article which roughly gets there: https://craftcms.com/knowledge-base/live-preview-alternate-control-panel-domain

[2022-09-08 20:09] hypeJunction opened #418 "Improve “Template Roots”"
I have a suggestion for https://craftcms.com/docs/4.x/extend/template-roots.html:

It doesn't work

[2022-09-08 20:55] hypeJunction commented on #418
After fighting with it for a bit, it turned out that the `bootstrap` for custom module wasn't enabled in `app/config.php` even though the module was present in the filesystem (default `composer create-project`)

[2022-09-09 18:00] AugustMiller commented on #418
Glad you found your solution!

For anyone else finding this in the future, see the [docblock in the base module class](https://github.com/craftcms/craft/blob/main/modules/Module.php#L15-L18) for the `bootstrap` instructions @hypeJunction is talking about.

[2022-09-09 18:00] #418 closed, assigned to nobody

[2022-09-12 14:44] AugustMiller commented on #403
Just merged #411, which includes [a new section](https://craftcms.com/docs/4.x/config/#style-map-vs-fluent) describing the fluent config system.

[2022-09-12 14:44] #403 closed, assigned to nobody

[2022-09-12 21:10] AugustMiller commented on #320
We are planning to expand the footprint of the plugin + module development documentation for supported versions of Craft, but are not apt to make further contributions to the 2.x branch unless actively misleading information is discovered that interferes with developers getting plugins updated.

[2022-09-12 21:10] #320 closed, assigned to mattstein

[2022-09-12 21:11] #165 closed, assigned to nobody

[2022-09-16 14:35] jezthomp opened #422 "Improve “{% paginate %}”"
I have a suggestion for https://craftcms.com/docs/2.x/templating/paginate.html

This doesnt include an example for navigating single pages.
For example you have a blog listing page that shows 6 blog posts, that navigation is fine.
However, if you click on a blog post and then within that page page you want next/previous navigation to corrosponding blog posts you cannot do that.
Infact there doesnt

[2022-09-16 19:22] AugustMiller commented on #422
Hey, Jez!

This is actually a slightly different concept from pagination. You can pass the same criteria you used for a `paginate` tag to [`entry.getNext(...)`](https://craftcms.com/docs/2.x/templating/entrymodel.html#getnext-params) and [`entry.getPrev(...)`](https://craftcms.com/docs/2.x/templating/entrymodel.html#getprev-params) to get "adjacent" entries and generate links:

[code]

I will leav

[2022-09-20 14:50] jamesmacwhite opened #423 "Touch paramater shown on resave console commands for Craft 3 but wasn't added until Craft 4"
### Description

The Craft 3.x docs show the `--touch` parameter in the resave commands, but this is a Craft CMS 4 feature which was only added in 4.2.4.

Example: https://craftcms.com/docs/3.x/console-commands.html#resave-assets

[2022-09-20 20:43] jamesmacwhite commented on #423
Ignore this, looks like it was added in 3.7.54 and I was running 3.7.53.1

[2022-09-20 20:43] #423 closed, assigned to nobody

[2022-10-13 20:59] dlindberg opened #427 "Drafts / Revision creation, Saving, and Conflict Resolution unclear / unexplained for Front End Authors"
### Description

This is a front end author corollary to #36, the drafts / revisions workflow needs more documentation.

[Editing Entries in Craft 3.7](https://craftcms.com/knowledge-base/editing-entries) is good basic introduction—however, as site size and entry complexity grow there are things it doesn't cover and I can't find canonical documentation for to point authors to for how it is all sup

[2022-10-17 16:30] robzor opened #432 "[4.x]: Documentation: Emails documentation is wrong when referring to Global Sets"
### What happened?

### Description
In the documentation: https://craftcms.com/docs/commerce/4.x/emails.html#html-email-template-path

![CleanShot 2022-10-17 at 5 27 06](https://user-images.githubusercontent.com/704032/196231841-72319308-d85b-42c0-a468-b53c1254d720.png)

If you try to use `{% set globalSetName = craft.globals.getSetByHandle('globalSetName') %}` you will get a Twig error and it app

[2022-10-18 22:40] AugustMiller commented on #11
I've decided to close this, in part because the Craft 2.x and 3.x docs have been frozen (aside from the occasional backwards-compatible edit), and in part because I found a spot to make mention of the primary asks (regarding `phpdotenv` and entry scripts) in the [3.x -> 4.x upgrade guide](https://craftcms.com/docs/4.x/upgrade.html#entry-script).

If you would like to submit the remainder of the re

[2022-10-18 22:45] AugustMiller commented on #197
We have a number of aesthetic and accessibility improvements under review, but for now, the native browser functionality will have to remain. As a reflection of our priorities with the Craft control panel, we will generally try and use native features unless there is a significant UX penalty, which I don't see here.

[2022-10-18 22:45] #197 closed, assigned to nobody

[2022-10-24 10:22] pdaleramirez commented on #432
I can confirm there is an issue on the Craft Commerce docs.

[2022-10-24 21:22] AugustMiller commented on #432
Thanks for pointing this out—will have a patch out soon. ❤️

[2022-10-25 14:15] #417 closed, assigned to nobody

[2022-10-26 08:26] lukeholder opened #434 "Element editing docs need updating to include universal element editor and slideouts"
### Description

Currently the docs instruct the developer to implement the whole edit controller and page if they want to implement a full page element editor (which is no longer required with the universal element edit controller etc). it also makes no mention of slideouts and the methods it needs like `Element::getSidebarHtml()`. It also mentions a editor HUD and `Element::getEditorHtml()` whic

[2022-10-26 16:35] AugustMiller commented on #413
Hey! Snuck this in as part of #428: https://craftcms.com/docs/4.x/dev/controller-actions.html#ajax

[2022-10-26 16:35] #413 closed, assigned to nobody

[2022-10-28 22:25] AugustMiller commented on #434
Been talking with Brandon about this the last couple of weeks; apt to be one of my next focus areas!

[2022-10-31 10:08] bmilagre commented on #346
@mattstein
What is the new way to place content? I noticed that all the `cp.entries` hooks have now been removed.
I would like to place something below the main content

[2022-10-31 16:36] mattstein commented on #346
@bmilagre In Craft 4, you’ll want to use field layout elements rather than template hooks: https://craftcms.com/docs/4.x/extend/updating-plugins.html#field-layouts

[2022-11-01 03:06] AugustMiller commented on #129
Closing now that #428 is merged!

https://craftcms.com/docs/4.x/dev/controller-actions.html

[2022-11-01 03:06] #129 closed, assigned to nobody

[2022-11-04 19:17] olsp opened #438 "[4.x]: Typo in the docs"
### What happened?

In the example code for [Memcached](https://craftcms.com/docs/4.x/config/app.html#memcached-example) there is a typo.

In this line
`'keyPrefix' => App::env('CRAFT_APP_ID') ?: 'CraftCMS',;`
the `;` should be removed

### Craft CMS version

4

[2022-11-07 12:19] #438 closed, assigned to nobody

[2022-11-07 12:31] brandonkelly commented on #438
Thanks for pointing that out! Fixed now.

[2022-11-29 22:52] AugustMiller commented on #422
Just added a pagination section to the [Element Queries](https://craftcms.com/docs/4.x/element-queries.html#pagination) page.

Edit: `getNext()` and `getPrev()` are also now documented in the properties and methods section of the [Elements](https://craftcms.com/docs/4.x/elements.html#methods) page.